.panel-heading, .panel-title {
    color: #8e8e8e;
	font-size: 16px;
}
.panel-body, .form-group label {
    color: #8e8e8e;
	font-size: 14px;
    font-weight: 400;
    display: inline-block;
    min-width: 175px;
}
.form-group .form-control {
    color: #6c6c6c;
    font-size: 17px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    height: 63px;
    padding: 10px 20px;
    background: #fff;
    border: 1px solid #dfdfdf;
    box-shadow: rgba(63,52,51,.15) 3px 3px 3px;
}
.btn {
    min-width: 90px;
    border-radius: 0px;
    font-weight: 500;
    padding: 10px 12px;
	border: 1px solid transparent;
	line-height: 1.5;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-success {
    color: #fff;
	background: #387635;
}
.btn-danger {
    color: #fff;
	background: #d9534f;
}