@font-face {
    font-family: 'Cocogoose';
    src: url('fonts/cocogoose-light.eot');
    src: url('fonts/cocogoose-light.eot?#iefix') format('embedded-opentype'),
        url('fonts/cocogoose-light.woff2') format('woff2'),
        url('fonts/cocogoose-light.woff') format('woff'),
        url('fonts/cocogoose-light.ttf') format('truetype'),
        url('fonts/cocogoose-light.svg#cocogoose-light') format('svg');
    font-weight: 300;
    font-style: normal;
}

