/* ==========================================================================
Global Settings
========================================================================== */

@font-face {
    font-family: "Brandon Grotesque";
    src: url("../fonts/brandongrotesque-regular.eot");
    src: url("../fonts/brandongrotesque-regular.eot?#iefix")
        format("embedded-opentype"),
      url("../fonts/brandongrotesque-regular.woff2") format("woff2"),
      url("../fonts/brandongrotesque-regular.woff") format("woff"),
      url("../fonts/brandongrotesque-regular.ttf") format("truetype"),
      url("../fonts/brandongrotesque-regular.svg#Brandon Grotesque") format("svg");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Brandon Grotesque";
    src: url("../fonts/brandongrotesque-medium.eot");
    src: url("../fonts/brandongrotesque-medium.eot?#iefix")
        format("embedded-opentype"),
      url("../fonts/brandongrotesque-medium.woff2") format("woff2"),
      url("../fonts/brandongrotesque-medium.woff") format("woff"),
      url("../fonts/brandongrotesque-medium.ttf") format("truetype"),
      url("../fonts/brandongrotesque-medium.svg#Brandon Grotesque") format("svg");
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Brandon Grotesque";
    src: url("../fonts/brandongrotesque-bold.eot");
    src: url("../fonts/brandongrotesque-bold.eot?#iefix")
        format("embedded-opentype"),
      url("../fonts/brandongrotesque-bold.woff2") format("woff2"),
      url("../fonts/brandongrotesque-bold.woff") format("woff"),
      url("../fonts/brandongrotesque-bold.ttf") format("truetype"),
      url("../fonts/brandongrotesque-bold.svg#Brandon Grotesque") format("svg");
    font-weight: bold;
    font-style: normal;
  }
  
  /*
   * .ui-autocomplete code.
   */
  /* .ui-autocomplete { max-width: 265px; max-height: 200px; overflow: auto; list-style: none; padding: 0; margin: 0; text-align: center; line-height: 1.2; color: #4c4c4c; font-family: "Brandon Grotesque", sans-serif; } */
  
  /*
   * Remove text-shadow in selection highlight.
   */
  ::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  ::selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  /*
   * Body settings, change it as required
   */
  body {
    font-size: 21px;
    line-height: 1.2;
    color: #4c4c4c;
    font-family: "Brandon Grotesque", sans-serif;
    text-rendering: optimizeLegibility;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-top: 0px;
  }
  
  /*
   * Links
   */
  a,
  a:hover {
    text-decoration: none;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  }
  
  /*
   * A better looking default horizontal rule
   */
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }
  
  /*
   * Remove the gap between images and the bottom of their containers.
   */
  img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
    -ms-interpolation-mode: bicubic;
  }
  
  /*
   * Allow only vertical resizing of textareas.
   */
  textarea {
    resize: none;
  }
  
  /*
   * Other
   */
  *:focus {
    outline: none !important;
  }
  
  /* ==========================================================================
   Helper classes
   ========================================================================== */
  
  img.alignleft {
    float: left;
    margin: 0 10px 10px 0;
    display: block;
  }
  img.alignright {
    float: right;
    margin: 0 0px 10px 10px;
    display: block;
  }
  img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }
  .hidden {
    display: none !important;
    visibility: hidden;
  }
  .clear {
    clear: both;
    height: 1px;
    line-height: 1px;
  }
  
  /*
   * Other
   */
  
  /* ==========================================================================
   Layout
   ========================================================================== */
  /*
   *container
   */
  body:not(.menu-page) #content {
    overflow: hidden;
  }
  @media (min-width: 992px) {
    .container {
      max-width: 1383px;
    }
  }
  #container:before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.85);
    z-index: 100;
    display: none;
  }
  body.popup-open #container:before,
  body.order-popup #container:before {
    display: block;
  }
  @media (max-width: 767px) {
    #container {
      min-width: 320px;
      position: relative;
      overflow-x: hidden !important;
    }
    body.popup-open .order {
      display: block !important;
      z-index: 10001;
      right: 15px;
      width: calc(100% - 30px);
    }
  }
  
  /*
   *header
   */
  #header .col-md-4 {
    position: relative;
  }
  #header .col-md-4:after {
    position: absolute;
    background: url(../../images/header-scroll-bg.png) no-repeat;
    content: "";
    top: 0;
    right: -283px;
    width: 625px;
    height: 100%;
    background-size: cover;
  }
  .home:not(.menu-page) #header .col-md-4:after {
    display: none;
  }
  .home.scroll #header .col-md-4:after {
    display: block;
  }
  #header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    background: #fff;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.45);
    min-height: 95px;
    z-index: 1000;
  }
  #header .logo {
    position: relative;
    padding: 17px 0px;
    z-index: 1;
  }
  #header .logo:after {
    position: absolute;
    content: "";
    width: 495px;
    height: 100%;
    background: #f16521;
    left: -170px;
    top: 0px;
    z-index: -1;
    transform: skewX(45deg);
  }
  #header .logo img {
    max-height: 65px;
  }
  #header .open-menu-btn {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 10px;
    color: #f16521;
    font-size: 20px;
    z-index: 2;
  }
  
  @media (max-width: 991px) {
    #header .logo:after {
      left: -217px;
    }
  }
  
  @media (max-width: 767px) {
    #header {
      min-height: 60px;
    }
    #header .logo img {
      max-height: 30px;
    }
    #header .logo:after {
      left: -356px;
    }
  }
  
  @media (min-width: 992px) {
    #header .logo {
      padding-left: 30px;
    }
  }
  
  @media (max-width: 767px) {
    #header .logo {
      z-index: 10000;
      width: 50%;
    }
  }
  /*
   *main-navigation
   */
  #main-navigation {
    width: 100%;
    padding-left: 60px;
    padding-right: 25px;
  } /*max-width: 680px; align-self: flex-end; */
  #main-navigation .scrollable-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
  }
  #main-navigation ul {
    padding: 0px;
    list-style-type: none;
    margin: 0px;
  }
  #main-navigation .menu {
    margin-right: auto;
  }
  #main-navigation .menu > li {
    font-size: 22px;
    color: #000000;
    display: inline-block;
    margin-right: 57px;
    position: relative;
    font-weight: 700;
    text-transform: uppercase;
  }
  #main-navigation .menu .current {
    color: #f16521;
    opacity: 1;
  }
  #main-navigation .menu .current a:hover {
    opacity: 1;
    color: #6c6c6c;
  }
  #main-navigation .menu a {
    color: inherit;
  }
  #main-navigation .menu li a:hover {
    color: #f16521;
  }
  #main-navigation .menu .child {
    position: absolute;
    min-width: 199px;
    padding: 20px 19px;
    left: -19px;
    background: rgba(0, 0, 0, 0.85);
  }
  
  @media (max-width: 991px) {
    #main-navigation .menu > li {
      margin-right: 20px;
      font-size: 17px;
    }
  }
  
  @media (max-width: 767px) {
    #main-navigation {
      position: fixed;
      max-width: 100%;
      width: 100%;
      height: 100vh;
      top: 0px;
      left: 100%;
      background: rgba(255, 255, 255, 0.95);
      z-index: 1000;
      padding: 150px 20px;
      transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s;
      -webkit-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s;
      -moz-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s;
      -ms-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    }
    #main-navigation .user-block .cart {
      position: fixed;
      top: 17px;
      right: 50px;
    }
    #main-navigation .user-block {
      transform: translate3d(0, 0, 0);
    }
    #main-navigation .user-block .login-signup {
      position: fixed;
      top: 19px;
      right: 60px;
    }
    #main-navigation .user-block .login-signup i {
      position: relative;
      top: -2px;
    }
    #main-navigation .user-block li .fa {
      font-size: 22px;
    }
    #main-navigation .user-block .cart .total {
      min-width: 15px;
      height: 15px;
      font-size: 11px;
      line-height: 16px;
    }
    #main-navigation .scrollable-content {
      height: 100%;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      display: block;
    }
    #main-navigation .close-menu-btn {
      font-size: 20px;
      position: absolute;
      right: 10px;
      top: 20px;
      color: #447e41;
    }
    #main-navigation .menu {
      margin-bottom: 20px;
    }
    #main-navigation .menu li {
      display: block;
      margin-right: 0px;
      margin-bottom: 1px;
      margin-right: 57px;
    }
    #main-navigation .menu li {
      margin-right: 0px;
      text-align: center;
    }
    #main-navigation .menu li a {
      padding: 13px 5px;
      display: block;
    }
    #main-navigation .menu .parent a {
      padding-right: 20px;
      position: relative;
    }
    #main-navigation .menu .parent a:after {
      font-family: "FontAwesome";
      content: "\f0d7";
      color: #d2bb9e;
      font-weight: 900;
      display: inline-block;
      vertical-align: middle;
      margin-left: 9px;
      position: absolute;
      right: 5px;
      top: 50%;
      margin-top: -11px;
      transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s;
      -webkit-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s;
      -moz-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s;
      -o-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s;
      -ms-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    }
    #main-navigation .menu .open a {
      color: #f27222;
    }
    #main-navigation .menu .open a:after {
      -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
      transform: rotate(-180deg);
    }
    #main-navigation .menu .child {
      position: static;
      min-width: auto;
      left: 0px;
      background: transparent;
      display: none;
      padding-top: 4px;
      padding-bottom: 4px;
    }
    .open-menu {
      overflow: hidden;
    }
    body.open-menu .order {
      z-index: -1;
    }
    .open-menu #main-navigation {
      left: 0px;
    }
  }
  
  /*
   *banner
   */
  #banner {
    position: relative;
  }
  #banner .description {
    position: absolute;
    top: 50%;
    -webkit-transform: translatey(-50%);
    -ms-transform: translatey(-50%);
    transform: translatey(-50%);
    width: 100%;
    left: 0px;
    z-index: 99;
  }
  #banner .description p {
    color: #fff;
    font-size: 42px;
    font-weight: 500;
  }
  #banner .figure1 img {
    min-height: 320px;
    height: 100%;
    object-fit: cover;
  }
  #banner .description .display-1 {
    color: #fff;
    font-weight: 500;
  }
  #banner .video-slide video {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 90vh;
    object-fit: cover;
    opacity: 1;
    z-index: 1;
  }
  #banner .video-slide .figure1 {
    z-index: 2;
    position: relative;
  }
  #banner .video-slide .play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;
    font-size: 24px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  #banner .video-slide .play-btn:hover {
    color: #f16521;
  }
  #banner .slides {
    position: relative;
    height: 70vh;
    width: 100%;
  }
  #banner .slides .slide {
    width: 100%;
    height: 100%;
    display: block !important;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
  #banner .slides .slide:first-child {
    opacity: 1;
  }
  #banner .description .display-1,
  #banner .button1 {
    left: 0;
    position: relative;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  }
  #banner .description .display-1.slideLeft,
  #banner .button1.slideLeft {
    left: -115%;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  }
  #banner .controls {
    padding-top: 20px;
  }
  #banner .controls a {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #c0c0c0;
    display: inline-block;
    color: #c0c0c0;
    overflow: hidden;
    margin-right: 15px;
  }
  #banner .controls a:hover,
  #banner .controls a.activeSlide {
    background: #f16521;
    color: #f16521;
  }
  #banner .close {
    z-index: 100;
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    opacity: 1;
    text-shadow: none;
    border: 0;
    background: transparent;
  }
  
  @media (min-width: 992px) {
    #banner .container {
      max-width: 1820px;
    }
  }
  
  @media (max-width: 992px) {
    #banner .slides,
    #banner .video-slide video {
      height: 70vh;
    }
  }
  
  li.login-signup {
    font-weight: 400 !important;
    text-transform: none !important;
    display: inline-block;
    margin-right: 57px;
    color: #6c6c6c;
    font-size: 17px !important;
  }
  li.login-signup a {
    color: inherit;
  }
  li.login-signup a:hover {
    color: #f16521;
  }
  li.login-signup .fa {
    font-size: 29px;
    color: #447e41;
    vertical-align: middle;
  }
  .login-signup .fa-lock {
    margin-right: 5px;
  }
  li.login-signup:last-child {
    margin-right: 0px;
  }
  .user-block .cart {
    position: relative;
  }
  .user-block .cart .total {
    position: absolute;
    top: -6px;
    right: -12px;
    min-width: 20px;
    height: 20px;
    font-size: 0.875rem;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    padding: 0px 3px;
    background: #101010;
    color: #fff;
  }
  
  @media (max-width: 991px) {
    .user-block li {
      margin-right: 20px;
    }
  }
  
  /*
   *footer
   */
  #footer {
    padding: 45px 0px 30px;
    background: url(../../images/frontend/footer-bg.png) no-repeat;
    background-position: center center;
    background-size: cover;
  }
  #footer .footer-links {
    padding: 0px;
    list-style-type: none;
  }
  #footer .logo {
    margin-bottom: 16px;
  }
  #footer .top-footer {
    margin-bottom: 1px;
  }
  #footer .top-footer h6 {
    text-transform: capitalize;
  }
  #footer .top-footer p {
    color: #101010;
  }
  #footer .top-footer p {
    font-size: 20px;
  }
  #footer .top-footer address p {
    font-weight: 500;
  }
  #footer .footer-links li {
    font-weight: 500;
    color: #101010;
  }
  #footer .footer-links li a {
    color: inherit;
  }
  #footer .footer-links li a:hover {
    color: #f16521;
  }
  #footer .bottom-footer p {
    font-weight: 300;
    font-size: 15px;
    padding-top: 7px;
  }
  #footer .bottom-footer p a {
    color: inherit;
  }
  #footer .bottom-footer p a:hover {
    opacity: 0.8;
  }
  
  @media (max-width: 991px) {
    #footer .footer-links li {
      font-size: 18px;
    }
    #footer .top-footer p {
      font-size: 18px;
    }
    #footer .copyright {
      text-align: center;
    }
  }
  
  @media (max-width: 767px) {
    #footer {
      text-align: center;
      padding: 35px 0px 55px;
    }
    #footer .top-footer {
      margin-bottom: 10px;
    }
    .d-none + .column {
      margin-bottom: 0px;
    }
    .about.section {
      padding-top: 10px;
    }
  }
  /*
   *payment-gateways
   */
  .payment-gateways {
    padding: 0px;
    list-style-type: none;
  }
  .payment-gateways li {
    display: inline-block;
    margin-right: 0px;
    vertical-align: middle;
  }
  .payment-gateways li img {
    width: 70%;
  }
  /*
   *helper classes
   */
  .d-flex {
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .figure1 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-bottom: 0px;
    height: 100%;
  }
  .scroll-to-top {
    position: fixed;
    right: 15px;
    bottom: 15px;
    color: #f16521;
    font-size: 18px;
  }
  
  @media (min-width: 1450px) {
    .scroll-to-top {
      right: 50%;
      margin-right: -700px;
      bottom: 47px;
    }
  }
  
  /* ==========================================================================
   Common Functionalities & UI Elements
   ========================================================================== */
  .bg-gray-light {
    background: #f9f9f9 !important;
  }
  
  .divider1 {
    border-top: 3px solid #f0f0f0;
  }
  
  .btn {
    border-radius: 0px;
    color: #fff;
    font-weight: 500;
    padding: 10px 12px;
  }
  .button1 {
    background: #f16521;
    min-width: 169px;
  }
  .button1 .fa-cart-plus {
    margin-right: 10px;
  }
  .button1 .fa {
    margin-right: 4px;
  }
  .button1:hover {
    background: #689765;
    color: #fff;
  }
  .button2 {
    background: #4c4c4c;
    min-width: 169px;
  }
  .button2:hover {
    background: #646060;
    color: #fff;
  }
  .filter-btn {
    padding: 2px 12px;
  }
  .filter-btn .fa-sliders {
    margin-right: 5px;
  }
  .filter-btn .fa-caret-down {
    margin-left: 5px;
  }
  .link1 {
    color: #f16521;
    font-size: 18px;
  }
  
  .link1 .fa {
    color: #4c4c4b;
    margin-right: 4px;
  }
  
  .link1 span {
    border-bottom: 1px solid #f16521;
    font-size: 14px;
  }
  
  .btn-lg {
    font-size: 21px;
  }
  
  .play-btn {
    display: inline-block;
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    color: #fff;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  .play-btn:hover {
    background: rgba(0, 0, 0, 0.8);
  }
  .phone,
  .mail {
    font-weight: 500;
    color: #101010;
    display: inline-block;
    margin-bottom: 15px;
  }
  
  @media (max-width: 991px) {
    .phone,
    .mail {
      font-size: 16px;
    }
  }
  
  /*
   *slide2
   */
  .slideshow2 {
    margin-bottom: 32px;
    position: relative;
    margin-top: 32px;
  }
  .slideshow2 .slide-controls .prev,
  .slideshow2 .slide-controls .next {
    display: inline-block;
    background: rgba(255, 255, 255, 0.8);
    color: #66676b;
    min-width: 43px;
    height: 43px;
    line-height: 43px;
    text-align: center;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    -webkit-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    -moz-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    -o-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    -ms-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    font-size: 16px;
    position: absolute;
    top: 50%;
    -webkit-transform: translatey(-50%);
    -ms-transform: translatey(-50%);
    transform: translatey(-50%);
    z-index: 200;
    margin-top: -25px;
  }
  .slideshow2 .slide-controls .prev:hover,
  .slideshow2 .slide-controls .next:hover {
    background: rgba(255, 255, 255, 1);
  }
  .slideshow2 .slide-controls .prev {
    left: 20px;
  }
  .slideshow2 .slide-controls .next {
    right: 20px;
  }
  .slideshow2 .slide-controls:hover {
    background: rgba(255, 255, 255, 0.9);
  }
  .slides2 {
    position: relative;
    width: 100%;
    height: 560px;
  }
  .slides2 .slide {
    width: 100%;
    height: 100%;
    display: block !important;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background: transparent !important;
  }
  .slides2 .slide:first-child {
    opacity: 1;
  }
  
  .controls2 a {
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background: #c0c0c0;
    display: inline-block;
    color: #c0c0c0;
    overflow: hidden;
    margin-right: 15px;
  }
  .controls2 a:hover,
  .controls2 a.activeSlide {
    background: #404040;
    color: #404040;
  }
  
  @media (max-width: 991px) {
    .slides2 {
      height: 400px;
    }
  }
  
  @media (max-width: 767px) {
    .slides2 {
      height: 320px;
    }
  }
  
  /*
   *list1
   */
  .list1 {
    padding: 0px;
    margin-left: 0px;
  }
  .list1 li {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  .list1 li:last-child {
    margin-bottom: 0px;
  }
  .list1 li span {
    color: #4c4c4c;
    font-size: 18px;
    max-width: 50%;
  }
  .list1 li span span {
    font-size: 12px;
  }
  .list1 li span:first-child {
    padding-right: 10px;
  }
  .list1 li span:last-child {
    padding-left: 10px;
  }
  .list1 .cart-total {
    padding: 22px 0px;
    border-top: 3px solid #f0f0f0;
  }
  .list1 .cart-total span {
    font-size: 21px;
    color: #000000;
    font-weight: 700;
  }
  
  /*
   *table1
   */
  .table1 td {
    border-top: 0px;
    padding: 8px 6px;
  }
  .table1 .product-image {
    min-width: 72px;
    max-width: 150px;
  }
  .table1 .product-details {
    min-width: 168px;
  }
  .table1 .product-price {
    min-width: 89px;
    font-size: 16px;
    color: #000000;
    text-align: right;
    min-width: 100px;
    font-size: 12px;
  }
  .table1 .product-price strong {
    font-size: 18px;
    margin-right: 5px;
  }
  .table1 .image {
    margin-bottom: 7px;
  }
  .table1 h4 {
    font-size: 15px;
    margin-bottom: 2px;
  }
  .table1 p {
    color: #6c6c6c;
    font-size: 16px;
  }
  .table1 .flight-block .quantity {
    margin-left: auto;
    margin-right: auto;
  }
  
  /*
   *flavours list
   */
  .flavour-list {
    padding: 0px;
    margin-left: 0px;
    list-style-type: none;
    text-align: center;
  }
  .flavour-list li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 11px;
    margin-bottom: 5px;
  }
  .flavour-list li:last-child {
    margin-right: 0px;
  }
  .flavour-list li a {
    cursor: default;
  }
  /*
   *socialble
   */
  .sociables {
    padding: 0px;
    margin-left: 0px;
    list-style-type: none;
  }
  .sociables li {
    display: inline-block;
    font-size: 23px;
    margin-right: 5px;
    color: #101010;
  }
  .sociables li a {
    color: inherit;
  }
  .sociables li a:hover {
    color: #f16521;
  }
  .sociables li:last-child {
    margin-right: 0px;
  }
  
  @media (max-width: 767px) {
    .sociable li {
      font-size: 22px;
    }
  }
  
  /*
   *tabs1
   */
  .tabs1 .nav {
    border-bottom: 0px;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    margin-bottom: 36px;
  }
  .tabs1 .nav li {
    font-size: 18px;
    color: #6c6c6c;
    margin-right: 10px;
    margin-bottom: 0px;
  }
  .tabs1 .nav li:last-child {
    margin-right: 0px;
  }
  .tabs1 .nav li a {
    color: inherit;
    padding: 16px 20px 12px;
    border-bottom: 4px solid transparent;
    display: inline-block;
  }
  .tabs1 .nav li a:hover,
  .tabs1 .nav li a.active {
    border-color: #fbe805;
    color: #000000;
  }
  .tabs1 .nav li a.active {
    font-weight: 500;
  }
  
  /*
   *menu list
   */
  .menu-list {
    padding: 0px;
    margin-left: 0px;
    list-style-type: none;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
  }
  .menu-list > li {
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 40px;
  }
  
  @media (max-width: 1200px) {
    .menu-list > li {
      width: 33.33333%;
    }
  }
  
  @media (max-width: 767px) {
    .menu-list > li {
      width: 50%;
    }
    .tabs1 .nav li a {
      padding: 16px 5px 12px;
    }
  }
  
  @media (max-width: 575px) {
    .menu-list > li {
      width: 100%;
    }
  }
  
  /*
   *breadcrumb
   */
  .breadcrumb {
    background: transparent;
    padding: 0px;
    margin-left: 0px;
  }
  .breadcrumb li {
    font-size: 15px;
    color: #6c6c6c;
  }
  .breadcrumb li a {
    color: #f16521;
  }
  .breadcrumb-item + .breadcrumb-item::before {
    content: ">";
    color: #2f175f;
  }
  
  /*
   *filter-list
   */
  .filter-list {
    padding: 0px;
    margin-left: 0px;
    list-style-type: none;
    margin-left: -15px;
    margin-right: -15px;
    display: none;
    width: 100%;
    overflow: hidden;
  }
  .filter-section.open .fa-caret-down:before {
    content: "\f0d8";
  }
  .filter-list li {
    width: 20%;
    padding: 0px 15px;
    margin-bottom: 30px;
    float: left;
  }
  .filter-list li a {
    display: block;
    color: #6c6c6c;
    font-size: 18px;
    background: #fff;
    padding: 8px;
    -webkit-box-shadow: 4px 4px 5px -1px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 4px 4px 5px -1px rgba(0, 0, 0, 0.23);
    box-shadow: 4px 4px 5px -1px rgba(0, 0, 0, 0.23);
    text-align: center;
  }
  .filter-list li.active a {
    color: #fff;
    background: #f16521;
  }
  .filter-list li a:hover {
    -webkit-box-shadow: 4px 4px 5px -1px rgba(0, 0, 0, 0.43);
    -moz-box-shadow: 4px 4px 5px -1px rgba(0, 0, 0, 0.43);
    box-shadow: 4px 4px 5px -1px rgba(0, 0, 0, 0.43);
  }
  .filter-list li a .icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 11px;
    min-height: 47px;
    line-height: 47px;
  }
  .filter-list li a .icon img {
    max-height: 47px;
  }
  
  @media (max-width: 991px) {
    .filter-list li {
      width: 33.33333%;
    }
  }
  
  @media (max-width: 767px) {
    .filter-list li {
      width: 50%;
    }
    .filter-list li a .icon img {
      max-height: 25px;
    }
  }
  
  /*
   *ingredients-list
   */
  .ingredients-list {
    padding: 0px;
    margin-left: 0px;
    list-style-type: none;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
  }
  .ingredients-list li {
    width: 50%;
    padding: 0px 15px;
    margin-bottom: 30px;
    text-align: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .ingredients-list .image {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .ingredients-list li p {
    font-size: 18px;
    color: #6c6c6c;
    margin-bottom: 0px;
  }
  .ingredients-list li img {
    max-width: 50%;
  }
  
  /*
   *widgets
   */
  
  .widget {
    background: #fff;
    -webkit-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.21);
    -moz-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.21);
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.21);
  }
  .widget.flight-block .header {
    background: #dc5d20;
  }
  .widget.flight-block .header h3 {
    font-weight: 400;
    color: #fff;
    font-size: 15px;
  }
  .widget.flight-block .header .toggle-btn {
    border-color: #8a8b8c;
  }
  .widget .header {
    padding: 22px 25px;
    position: relative;
  }
  .widget .header h3 {
    margin-bottom: 0px;
    padding-right: 33px;
    font-size: 22px;
    color: #404040;
    font-weight: 800;
  }
  .widget .header .toggle-btn {
    display: inline-block;
    width: 22px;
    height: 22px;
    border: 1px solid #dfe0e0;
    position: absolute;
    top: 50%;
    -webkit-transform: translatey(-50%);
    -ms-transform: translatey(-50%);
    transform: translatey(-50%);
    right: 25px;
  }
  .widget .header .toggle-btn:before,
  .widget .header .toggle-btn:after {
    content: "";
    position: absolute;
    width: 16px;
    height: 1px;
    background: #dfe0e0;
    top: 50%;
    margin-top: -1px;
    left: 2px;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  }
  .widget .header .toggle-btn:after {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  .widget.open .header .toggle-btn:after {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .widget.open .header .toggle-btn:before {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .widget .content {
    padding: 22px 25px;
    position: relative;
  }
  
  @media (max-width: 1199px) {
    .widget.flight-block .header h3 {
      font-size: 18px;
    }
  }
  
  @media (max-width: 991px) {
    .widget .flight-details li {
      width: 100%;
      margin-bottom: 15px;
    }
  }
  
  .flight-details {
    padding: 0px;
    margin-left: 0px;
    list-style-type: none;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
  }
  .flight-details li {
    width: 50%;
    padding: 0px 5px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
  }
  .flight-details li .icon {
    font-size: 29px;
    color: #d9d9d9;
  }
  .flight-details li .edit {
    position: absolute;
    right: 15px;
    top: 0px;
    font-size: 16px;
    color: #000000;
  }
  .flight-details li .wrap {
    width: calc(100% - 30px);
    padding-left: 8px;
  }
  .flight-details li p {
    font-size: 18px;
    font-weight: 500;
    color: #000000;
    margin-bottom: 0px;
  }
  .flight-details li span {
    font-size: 17px;
    color: #f16521;
    font-weight: 500;
    display: block;
  }
  
  @media (max-width: 1199px) {
    .flight-details li p {
      font-size: 14px;
    }
    .flight-details li span {
      font-size: 13px;
    }
  }
  
  /*
   *food
   */
  .food {
    text-align: center;
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    opacity: 1 !important;
    transform: none !important;
    pointer-events: all !important;
  }
  .food .image {
    margin-bottom: 12px;
  }
  .food .info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -moz-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .food .info h2 {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 10px 0;
  }
  .food h2 {
    color: #4c4c4c;
    font-size: 16px;
  }
  .food .quantity {
    margin-left: auto;
    margin-right: auto;
  }
  .food .image img.w-100 {
    object-fit: cover;
    max-height: 295px;
  }
  
  /*
   *video
   */
  .video {
    position: relative;
  }
  .video .play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 24px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .box1 {
    background: #101010;
    padding: 50px;
  }
  .box1 h2 {
    color: #fff;
    font-weight: 500;
  }
  .box1 p {
    color: #f7f7f7;
    margin-bottom: 56px;
  }
  .box1 footer {
    background: #f16521;
    margin-left: -50px;
    margin-right: -50px;
    padding-left: 50px;
    padding-right: 50px;
  }
  
  /*
   *quantity
   */
  .quantity {
    padding: 0px;
    list-style-type: none;
    margin-left: 0px;
    list-style-type: none;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 100px;
  }
  .quantity li button {
    vertical-align: middle;
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 0px;
    background: #e0e0e0;
    position: relative;
    border-radius: 50%;
    padding: 0;
    margin: 0;
  }
  .quantity.active li button {
    background: #f16521;
  }
  .quantity li button:before,
  .quantity li button:after {
    content: "";
    position: absolute;
    width: 9px;
    height: 2px;
    background: #000;
    top: 50%;
    margin-top: -1px;
    left: 5px;
  }
  .quantity.active li button:before,
  .quantity.active li button:after {
    background: #fff;
  }
  .quantity li button.less:after,
  button.lessaddon:after {
    display: none;
  }
  .quantity li button.add:after,
  button.addaddons:after {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  .quantity li .input-control,
  .input-addon {
    vertical-align: middle;
    background: transparent;
    line-height: 28px;
    padding-top: 4px;
    color: #b9b9b9;
    font-weight: 500;
    max-width: 30px;
    min-width: 30px;
    text-align: center;
    border: 0px;
    padding: 2px 5px;
    min-height: 20px;
    font-size: 17px;
  }
  .quantity.active li .input-control,
  .input-addon {
    color: #f16521;
  }
  .quantity input::-webkit-outer-spin-button,
  .quantity input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  /*
   *quantity2
   */
  .flight-block .quantity {
    padding: 0px;
    list-style-type: none;
    margin: 0 auto;
    list-style-type: none;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 63px;
  }
  .flight-block .quantity li button {
    display: inline-block;
    width: 17px;
    height: 17px;
    line-height: 15px;
    text-align: center;
    border: 1px solid #f16521;
    border-radius: 50%;
    background: transparent;
    position: relative;
    font-size: 10px;
    color: #f16521;
    padding: 0px;
  }
  .flight-block .quantity li .input-control,
  .input-addon {
    line-height: 28px;
    padding-top: 6px;
    background: transparent;
    color: #8e8e8e;
    font-weight: 500;
    max-width: 28px;
    min-width: 28px;
    height: 28px;
    text-align: center;
    border: 0px;
    padding: 2px 5px;
    min-height: 32px;
    font-size: 16px;
  }
  .flight-block .quantity input::-webkit-outer-spin-button,
  .flight-block .quantity input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .flight-block .quantity li button:before,
  .flight-block .quantity li button:after {
    display: none;
  }
  
  /* Firefox */
  .quantity input[type="number"] {
    -moz-appearance: textfield;
  }
  
  /*
   *section1
   */
  .section {
    padding: 25px 0px;
  }
  .section header {
    margin-bottom: 62px;
  }
  
  @media (max-width: 767px) {
    .section {
      padding: 35px 0;
    }
    .section header {
      margin-bottom: 30px;
    }
  }
  
  .column {
    margin-bottom: 30px;
  }
  .column a:hover {
    color: #f16521;
  }
  
  /*
   *about
   */
  .about {
    position: relative;
  }
  .about header {
    text-align: center;
  }
  .about .fuel-for-journey {
    position: absolute;
    top: -150px;
    left: -100%;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  }
  .about .fuel-for-journey.show {
    left: 0;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  }
  .about .box1 {
    width: 463px;
    min-width: 463px;
    margin-left: auto;
    margin-right: -215px;
    position: relative;
    z-index: 2;
    padding-bottom: 0px;
  }
  .about .video,
  .about .video img.w-100 {
    height: 100%;
  }
  .about .video img.w-100 {
    min-height: 619px;
    font-family: "object-fit:cover";
    object-fit: cover;
  }
  .about .order-md-2 .video {
    margin-right: -15px;
  }
  .about .d-flex {
    -ms-flex-direction: initial;
    flex-direction: initial;
  }
  
  @media (max-width: 1200px) {
    .about .fuel-for-journey img {
      max-width: 66.66%;
    }
  }
  @media (max-width: 767px) {
    .about .fuel-for-journey {
      display: none;
    }
    .about .order-md-2 .video {
      margin-right: 0px;
    }
    .about .box1 {
      width: 100%;
      padding: 20px;
      padding-bottom: 20px;
      min-width: auto;
      margin-right: 0px;
    }
    .about .box1 footer {
      width: 100%;
      margin-left: 0px;
      margin-left: 0px;
      padding-left: 20px;
      padding-right: 20px;
      text-align: center;
    }
    .about .video img.w-100 {
      min-height: inherit;
    }
  }
  
  /*
   *dish
   
  .dish {
    padding-bottom: 100px;
  }*/
  .dish h3,
  .dish h2 {
    font-size: 28px;
    color: #f16521;
  }
  .dish .flavour-list {
    margin-bottom: 20px;
  }
  .dish ul {
    list-style-type: circle;
    padding-left: 15px;
  }
  .dish ul li {
    margin-bottom: 15px;
    font-size: 15px;
  }
  .dish + .pt-md-5 {
    padding-top: 0 !important;
    margin-top: -15px;
  }
  
  @media (max-width: 1200px) {
    .dish {
      padding-bottom: 50px;
    }
  }
  @media (max-width: 992px) {
    .dish {
      padding-bottom: 0px;
    }
  }
  @media (max-width: 767px) {
    .dish h3 {
      font-size: 24px;
    }
  }
  
  /*
   *filter section
   */
  .menu-page .section.filter-section {
    padding: 20px 0 1px;
  }
  .filter-section .header {
    margin-bottom: 20px;
  }
  .filter-section .button1 {
    min-width: 120px;
  }
  
  /*
   * Typography
   */
  h1 a,
  h2 a,
  h3 a,
  h4 a,
  h5 a,
  h6 a {
    color: inherit;
  }
  h1 a:hover,
  h2 a:hover,
  h3 a:hover,
  h4 a:hover,
  h5 a:hover,
  h6 a:hover {
    color: inherit;
  }
  h1,
  h2 {
    font-size: 40px;
    font-weight: 700;
    color: #f16521;
    margin-bottom: 16px;
  }
  h3 {
    font-size: 30px;
    color: #f16521;
    font-weight: 500;
    margin-bottom: 16px;
  }
  h4 {
    font-size: 21px;
    color: #4c4c4c;
    font-weight: 500;
    margin-bottom: 16px;
  }
  h5 {
    font-size: 17px;
    margin-bottom: 16px;
  }
  .display-1 {
    font-size: 54px;
  }
  h6 {
    font-size: 17px;
    color: #6c6c6c;
    font-weight: 400;
    margin-bottom: 16px;
  }
  p {
    line-height: 1.25;
    margin-bottom: 16px;
  }
  p.lead {
    font-size: 20px;
    line-height: 1.6;
  }
  html:not(.js) [data-aos^="fade"] {
    opacity: 1 !important;
  }
  @media (max-width: 767px) {
    h1,
    h2 {
      font-size: 30px;
    }
    h3 {
      font-size: 25px;
    }
    .display-1 {
      font-size: 35px;
    }
  }
  
  /* Lists ---------------------- */
  ul,
  ol {
    margin-bottom: 16px;
    list-style-position: outside;
  }
  ul li ul,
  ul li ol {
    margin-left: 20px;
    margin-bottom: 0;
  }
  ol {
    margin-left: 20px;
  }
  ol li ul,
  ol li ol {
    margin-left: 20px;
    margin-bottom: 0;
  }
  
  .bs-tooltip-auto[x-placement^="top"] .arrow::before,
  .bs-tooltip-top .arrow::before {
    border-top-color: rgba(56, 118, 53, 1);
  }
  .tooltip-inner {
    background: rgba(56, 118, 53, 1);
  }
  .fixed-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
    background: #fff;
    display: none;
  }
  #header.headroom {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: transform 0.2s ease-in-out;
  }
  #header.headroom--unpinned {
    transform: translateY(-100%);
    transition: transform 0.2s ease-in-out;
  }
  #header.headroom--pinned {
    transform: translateY(0%);
    transition: transform 0.2s ease-in-out;
  }
  #ui-datepicker-div * {
    font-size: 16px;
  }
  .ui-state-highlight,
  .ui-widget-content .ui-state-highlight,
  .ui-widget-header .ui-state-highlight {
    background: #fffa90;
  }
  /*
   * Order
   */
  .order {
    position: fixed;
    top: 40%;
    right: 20px;
    transform: translateY(-50%);
    background: #ffffff;
    width: 345px;
    z-index: 1000;
    padding: 40px;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  }
  .order h1 {
    font-size: 32px;
    font-weight: 500;
    color: #4c4c4c;
  }
  .order p {
    font-size: 15px;
    color: #4c4c4c;
    margin-bottom: 0;
  }
  .order p a {
    color: #f16521;
  }
  .order span {
    position: relative;
    display: block;
    margin-bottom: 20px;
  }
  .order input {
    width: 100%;
    height: 42px;
    border: 1px solid #b7b8c2;
    text-align: center;
    color: #6c6c6c;
    font-size: 15px !important; /* max-width: 265px; */
    max-height: 200px;
    overflow: auto;
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 1.2;
    color: #4c4c4c;
    font-family: "Brandon Grotesque", sans-serif !important;
  }
  .order span.submit input {
    height: 50px;
    color: #fff;
    background-color: #f16521;
    font-size: 21px;
    border: 0;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  }
  
  span.addonsubmit input {
    height: 50px;
    color: #fff;
    background-color: #f16521;
    font-size: 21px;
    border: 0;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  }
  
  .order span.submit input:hover {
    background: #689765;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  }
  
  span.addonsubmit input:hover {
    background: #689765;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  }
  
  .flight:before {
    content: "\f072";
    color: #1a1a1a;
    font-family: FontAwesome;
    font-size: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
  }
  .flight-info {
    padding: 10px;
    font-size: 16px;
    box-shadow: 0 0 8px 1px #ddd;
    border-radius: 7px;
    color: #4a8046;
    font-style: italic;
  }
  .date:before {
    content: "\f073";
    color: #1a1a1a;
    font-family: FontAwesome;
    font-size: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
  }
  .order.scrollRight {
    right: -345px;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  }
  .order.scrollLeft {
    right: 20px;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  }
  .order .close {
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
    color: #f16521;
    opacity: 1;
    text-shadow: none;
    border: 0;
    background: transparent;
  }
  .no-transition .order.scrollRight {
    transition: none !important;
  }
  .order-popup #header.headroom {
    z-index: -1;
  }
  .order-popup .order .close {
    display: block !important;
  }
  .order-popup .order.scrollRight {
    right: auto;
    transform: translate(-50%, -50%);
    left: 50%;
  }
  @media (max-width: 767px) {
    .order {
      display: none !important;
    }
    .fixed-footer {
      display: block;
    }
    .fixed-footer .button1 {
      width: 100%;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 21px;
    }
  }
  
  #content .wrapper {
    padding-top: 200px;
  }
  /* .form ul { margin: 0 -19px; padding: 0; list-style: none; overflow: hidden; width: 100%; position: relative; } */
  /* .form li { padding: 0 19px 10px; margin-bottom: 20px; width: 100%; overflow: hidden; } */
  .form li {
    padding: 0 19px 10px;
    margin-bottom: 20px;
    width: 100%;
    overflow: hidden;
  }
  .form ul {
    margin: 0 -19px;
    padding: 0;
    list-style: none;
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  .form li.half {
    float: left;
    width: 50%;
  }
  .form li.staraligned {
    float: left;
    width: 89%;
  }
  .form .textbox {
    color: #6c6c6c;
    font-size: 17px;
    appearance: none;
    -webkit-appearance: listbox;
    -moz-appearance: none;
    width: 100%;
    padding: 10px 20px;
    background: #fff;
    height: 47px;
    padding: 10px 7px;
    border: 1px solid #aaa;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  }
  .form li .textbox.half {
    width: calc(50% - 20px);
    float: right;
  }
  .form li.textarea-field {
    position: absolute;
    top: 94px;
    left: 0;
    width: 50%;
  }
  .form .filled li.textarea-field {
    top: 54px;
  }
  .form li textarea {
    color: #6c6c6c;
    font-size: 17px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    height: 155px;
    padding: 10px 20px;
    background: #fff;
    border: 1px solid #dfdfdf;
    box-shadow: rgba(63, 52, 51, 0.15) 3px 3px 3px;
  }
  .form li .button1 {
    font-size: 17px;
    width: 255px;
    height: 55px;
  }
  .form li .dropdown_custom select {
    color: #6c6c6c;
    font-size: 17px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    height: 47px;
    padding: 10px 20px 10px 5px;
    background: #fff;
    border: 1px solid #aaa;
    /* box-shadow: rgba(63, 52, 51, 0.15) 3px 3px 3px; */
  }
  .form li.cvv-field select {
    width: 60%;
  }
  .form li .dropdown_custom {
    position: relative;
  }
  .form li .dropdown_custom:after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 12px;
    right: 15px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #999;
  }
  .form li.cvv-field .textbox {
    width: 30%;
  }
  .form li .textbox.small {
    max-width: 90px;
    text-align: center;
    margin-right: 35px;
  }
  .form li .textbox.small + .textbox {
    width: calc(100% - 130px);
  }
  .form li.name-field .textbox {
    max-width: calc(50% - 20px);
  }
  
  .customer-information {
    background: #dc5d20;
    padding: 50px 50px 25px;
    margin-bottom: 40px;
  }
  .customer-information ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    width: 100%;
  }
  .customer-information li {
      width: 50%;
      font-size: 16px;
      font-weight: 500;
      color: #fff;
      display: inline-block;
      margin: 0 -2px 35px;
      vertical-align: top;
      padding-right: 25px;
  }
  .customer-information li span {
    color: #fff;
    font-weight: 700;
    display: inline-block;
   padding-left: 5px;
   min-width:175px;
  }
  .customer-information p {
    font-size: 18px;
    margin-bottom: 25px;
  }
  
  .billing-information {
    background: #dc5d20;
    padding: 20px 60px 25px;
    margin-bottom: 100px;
  }
  .billing-information p {
    font-size: 16px;
    margin-bottom: 25px;
    color: #fff;
  }
  .billing-information li p {
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    width: calc(50% - 20px);
    float: right;
  }
  .billing-information li.half p {
    float: none;
    width: 100%;
  }
  .billing-information > p { display:none; }
  .billing-information li span {
    color: #fff;
    font-weight: 700;
    display: inline-block;
    min-width: 175px;
  }
  .billing-information li.textarea-field p {
    float: none;
    width: 100%;
    padding-left: 175px;
    position: relative;
  }
  .billing-information li.textarea-field p span {
    position: absolute;
    top: 0;
    left: 0;
  }
  .customer-information + h2 , .billing-information + h2 { color:#f16521; font-size:40px; font-weight:300; margin-bottom:30px; }
  .payment-information {
    background: #dc5d20;
    padding: 30px 30px 25px;
    margin-bottom: 100px;
  }
  .payment-information p {
    font-size: 18px;
    margin-bottom: 25px;
  }
  .payment-information .button1 {
    max-width: 205px;
  }
  
  ::-webkit-input-placeholder {
    color: #6c6c6c;
    opacity: 1;
  }
  ::-moz-placeholder {
    color: #6c6c6c;
    opacity: 1;
  }
  :-ms-input-placeholder {
    color: #6c6c6c;
    opacity: 1;
  }
  :-moz-placeholder {
    color: #6c6c6c;
    opacity: 1;
  }
  
  #confirm h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
  }
  #confirm p {
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
  }
  #confirm .modal-footer {
    border-top: 0;
    display: block;
    text-align: center;
  }
  #confirm .modal-footer button {
    width: 134px;
    height: 38px;
    line-height: 18px;
    color: #fff;
    font-size: 21px;
    background: #0e76bc;
    border: 1px solid #0e76bc;
    border-radius: 3px;
  }
  #confirm .modal-footer button.btn-secondary,
  #confirm .modal-footer button:hover {
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    border: 1px solid #0e76bc;
    color: #0e76bc;
    background: transparent;
  }
  #confirm .modal-footer button.btn-secondary:hover {
    background: #f16521;
    border: 1px solid #f16521;
    color: #fff;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  }
  #confirm .modal-content {
    border: 0;
    border-radius: 0;
    padding-bottom: 30px;
    padding-top: 10px;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  }
  
  .breadcrumb {
    margin-bottom: 52px;
  }
  .breadcrumb li a {
    font-weight: 500;
  }
  .widgets {
    padding-top: 15px;
    padding-left: 30px;
  }
  .widget .content {
    padding: 20px 10px 10px;
  }
  .table1 h4 small {
    display: block;
  }
  .button1:hover {
    color: #fff !important;
  }
  .widget.flight-block .header .toggle-btn {
    transform: rotate(45deg);
    top: 25px;
  }
  .widget .header .toggle-btn:before,
  .widget .header .toggle-btn:after {
    width: 20px;
  }
  .table1 .flight-block .quantity {
    margin-bottom: 0;
  }
  
  @media screen and (max-width: 1400px) {
    .flight-details li p,
    .flight-details li span {
      font-size: 15px;
    }
    .table1 .product-image {
      min-width: 80px;
      max-width: 80px;
    }
    .table1 h4 {
      font-size: 16px;
    }
    .table1 .product-details {
      min-width: 145px;
    }
  }
  
  @media screen and (max-width: 1200px) {
    .customer-information,
    .billing-information,
    .payment-information {
      padding: 60px 25px 25px;
    }
    .billing-information li p,
    .customer-information li {
      font-size: 17px;
    }
    .billing-information li span,
    .customer-information li span {
      min-width: 130px;
    }
    .billing-information li.textarea-field p {
      padding-left: 130px;
    }
    .widgets {
      padding-top: 0px;
      padding-left: 0px;
    }
    #content .wrapper .col-lg-8 > div:last-of-type {
      margin-bottom: 0 !important;
    }
    .table1 .product-details {
      min-width: 105px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .customer-information li {
      float: none;
      width: 100%;
      margin-bottom: 20px;
    }
    .customer-information,
    .payment-information,
    .billing-information {
      padding: 20px;
      margin-bottom: 50px;
    }
    .customer-information li span,
    .billing-information li span {
      display: block;
      min-width: 100%;
      margin-bottom: 5px;
    }
    .form li.half {
      float: none;
      width: 100%;
    }
    .form li.textarea-field,
    .billing-information li.textarea-field p span,
    .form .filled li.textarea-field {
      position: relative;
      top: 0px;
      width: 100%;
    }
    .form ul {
      margin: 0;
    }
    .form li {
      padding: 0 0 5px;
    }
    .form li .textbox.half,
    .billing-information li p {
      float: none;
      width: 100%;
    }
    .form li .button1,
    .form li.name-field .textbox {
      width: 100%;
      max-width: 100%;
    }
    .billing-information li.textarea-field p {
      padding-left: 0;
    }
    .form li.cvv-field select,
    .form li .textbox.small {
      max-width: 100%;
      width: 100%;
      margin-bottom: 25px;
      text-align: left;
    }
    .form li .selectbox {
      display: block;
    }
    .form li .selectbox:after {
      top: 30px;
      right: 15px;
    }
    #content .wrapper {
      padding-top: 100px;
    }
    .breadcrumb {
      margin-bottom: 30px;
    }
    .widget.flight-block .header .toggle-btn {
      top: 21px;
    }
    .widgets .flight-block {
      margin-bottom: 50px;
    }
    .menu-page .widgets .flight-block {
      display: none;
    }
  }
  
  #content .wrapper .tabs1 .nav li a {
    padding-top: 0;
  }
  #content .wrapper .text-md-right .button1 {
    padding: 5px 25px;
    font-size: 21px;
  }
  #content .wrapper .text-md-right .button1 strong {
    font-weight: bold;
  }
  .widget.ingredients .header .toggle-btn.open:after {
    display: none;
  }
  .widget.ingredients .header .toggle-btn:before,
  .widget.ingredients .header .toggle-btn:after {
    width: 12px;
    left: 4px;
  }
  .widget.ingredients .content {
    display: none;
  }
  .also-order .container {
    max-width: 1000px;
  }
  #content .column .menu-list + footer.text-center {
    margin-bottom: 50px;
  }
  .also-order .menu-list > li,
  #content .column .menu-list > li {
    width: 33.33%;
  }
  .filter-section + .section .widgets {
    padding-top: 0;
  }
  
  #basket.modal .widgets {
    padding: 0;
  }
  #basket.modal .widget.flight-block .header .toggle-btn {
    background: transparent;
  }
  .view-basket {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    display: none;
    font-size: 21px;
    text-transform: uppercase;
  }
  .form .textbox.error {
    /*border: 1px solid #f00;*/
    border: 4px solid #ffc107;
  }
  @media screen and (max-width: 992px) {
    .also-order .menu-list > li,
    #content .column .menu-list > li {
      width: 50%;
    }
  }
  @media screen and (max-width: 767px) {
    #content .wrapper .text-md-right .button1 {
      display: block;
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: 100;
      margin-bottom: 0;
    }
    .slideshow2 .slide-controls .prev {
      left: 0px;
    }
    .slideshow2 .slide-controls .next {
      right: 0px;
    }
    .also-order {
      padding-bottom: 0;
    }
    .also-order .menu-list {
      margin-bottom: 0;
    }
    .also-order .menu-list > li,
    .also-order .menu-list > li,
    #content .column .menu-list > li {
      width: 100%;
    }
    .filter-section .header h4 {
      font-size: 17px;
      white-space: nowrap;
    }
    .filter-section .btn-lg {
      font-size: 18px;
      min-width: 100px;
      float: right;
    }
    .filter-section .header {
      margin-bottom: 26px;
    }
    .view-basket {
      display: block;
    }
    #content .column .menu-list + footer.text-center {
      margin-bottom: 0px;
    }
    #basket.modal .widgets .flight-block {
      display: block;
      margin-bottom: 0;
    }
    .ui-widget.ui-widget-content {
      margin-left: -9px;
    }
  }
  
  .checkout {
    background: url(../images/checkout-login-bg.jpg) no-repeat top left;
    background-size: cover;
    border-radius: 5px;
  }
  
  .checkout .content {
    padding: 50px 20px 35px;
  }
  .checkout .content p {
    color: #fff;
    padding: 0 8px;
  }
  .checkout > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  .checkout > ul:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: calc(100% - 430px);
    background: #fff;
  }
  .checkout > ul.hover:after {
    width: calc(100% - 430px);
  }
  .checkout > ul li {
    width: 215px;
    height: 75px;
    float: left;
    position: relative;
    z-index: 10;
    background: #fff;
  }
  .checkout > ul li:first-child:before {
    content: "";
    position: absolute;
    left: -1px;
    top: -1px;
    height: 5px;
    width: 5px;
    background: #fff;
    z-index: -1;
  }
  .checkout > ul li:first-child:hover:before,
  .checkout > ul li.active:before {
    display: none;
  }
  .checkout > ul li a {
    border: 1px solid #d9d9d9;
    border-radius: 0px 5px 0 0px;
    transition: none;
    display: block;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    color: #4c4c4c;
    font-weight: 500;
  }
  .checkout > ul li:first-child a {
    border-radius: 5px 0px 0 0px;
  }
  .checkout > ul li.active,
  .checkout > ul li:hover {
    background: transparent;
  }
  .checkout > ul li.active a,
  .checkout > ul li:hover a {
    color: #fff;
    border: 1px solid rgba(217, 217, 217, 0);
    border-radius: 0;
  }
  .checkout .form ul {
    margin: 0;
  }
  .checkout .btn-secondary {
    float: right;
    background: transparent;
    border: 0;
    font-size: 22px;
  }
  .checkout .form li {
    padding: 0 20px 10px;
  }
  .checkout .form li .button1 {
    max-width: 170px;
    background: #0e76bc;
    border-color: #0e76bc;
  }
  .checkout .form li label {
    font-size: 12px;
    color: #fff;
    margin-bottom: 35px;
    max-width: 85%;
  }
  .checkout .form li input[type="checkbox"] {
    vertical-align: top;
    margin-top: 7px;
  }
  .checkout .form li:last-child {
    margin-bottom: 0;
  }
  
  #login-form {
    margin-bottom: -12px;
  }
  #register-form .form li .button1 {
    float: right;
  }
  #register-form,
  #login-form {
    display: none;
  }
  #register-form.active,
  #login-form.active {
    display: block;
  }
  #login-form .form li .textbox {
    max-width: 525px;
  }
  #login-form .form li a {
    color: #fff;
    font-size: 15px;
  }
  #login-form .form li:last-child {
    padding-bottom: 5px;
  }
  
  #register .modal-dialog {
    max-width: 940px;
  }
  #login .modal-dialog {
    max-width: 940px;
  }
  #register .modal-content,
  #login .modal-content {
    border: 0;
  }
  .user-block li a {
    cursor: pointer;
  }
  
  @media screen and (max-width: 1200px) {
    .checkout .content {
      padding: 35px 25px;
    }
    .checkout .form li .textbox.small {
      margin-right: 10px;
    }
    .checkout .form li .textbox.small + .textbox {
      width: calc(100% - 105px);
    }
  }
  
  @media screen and (max-width: 767px) {
    .checkout > ul li {
      width: 150px;
      height: 51px;
    }
    .checkout > ul li a {
      line-height: 50px;
      font-size: 22px;
    }
    .checkout .content {
      padding: 35px 10px;
    }
    .checkout .form li .textbox.small + .textbox {
      width: 100%;
    }
    .checkout .form li input[type="checkbox"] {
      margin-top: 3px;
    }
    .modal .checkout .form li input[type="checkbox"] {
      margin-top: 7px;
    }
    .checkout .form li .button1 {
      max-width: 100%;
    }
    #register-form .form li .button1 {
      float: none;
    }
    .checkout > ul:after {
      width: calc(100% - 300px);
    }
  }
  
  /*
   *dashboard
   */
  .dashboard #main {
    height: 100%;
    padding: 42px 53px;
  }
  .dashboard #main header {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 22px;
  }
  .dashboard #main header .btn {
    border-radius: 5px;
    font-size: 18px;
    padding: 5px 12px;
  }
  .dashboard #main h3 {
    color: #4c4c4c;
    margin-bottom: 30px;
    font-weight: 800;
  }
  .dashboard #sidebar {
    height: 100%;
  }
  .dashboard #sidebar .title {
    position: relative;
    display: none;
    margin-bottom: 20px;
    color: #fff;
    background: #f16521;
    padding: 15px;
    text-transform: uppercase;
    font-weight: 900;
  }
  .dashboard #sidebar .title:before {
    font-family: "FontAwesome";
    color: #fff;
    font-size: 20px;
    position: absolute;
    right: 15px;
    top: 17px;
    content: "\f0c9";
  }
  .dashboard #sidebar .title.open:before {
    content: "\f00d";
  }
  
  @media (max-width: 1200px) {
    .dashboard #sidebar .title {
      display: block;
    }
    .dashboard #sidebar {
      background: transparent;
    }
    #side-navigation li.current {
      display: none;
    }
    .dashboard #side-navigation {
      display: none;
      background: #fff;
      position: absolute;
      top: 32px;
      left: 0;
      width: 100%;
      z-index: 999;
    } /* border-left: 15px solid #fff; border-right: 16px solid #fff; */
  }
  
  @media (max-width: 991px) {
    .dashboard #main {
      padding: 40px 20px;
    }
  }
  
  @media (max-width: 767px) {
    .dashboard #main {
      margin-left: 0px;
      padding: 25px 15px;
    }
  }
  
  /*
   *side navigation
   */
  #side-navigation {
    padding: 0px;
    margin-left: 0px;
    list-style-type: none;
  }
  #side-navigation li {
    border-bottom: 1px solid #fff;
    font-size: 22px;
    font-weight: 500;
    color: #000000;
  }
  #side-navigation li:last-child {
    border-bottom-color: transparent;
  }
  #side-navigation li a {
    color: #fff;
    display: block;
    padding: 25px 25px 25px 45px;
    background: #f16521;
    border-radius: 0;
    font-size: 16px;
  }
  #side-navigation li.current a,
  #side-navigation li a:hover {
    color: #fff;
    background: #0e76bc;
  }
  
  @media (max-width: 991px) {
    #side-navigation li a {
      padding: 10px 15px 10px 15px;
    }
  }
  
  /*
   *table
   */
  .table2 {
    background: #fff;
    border: 1px solid #f2f1f6;
  }
  .table2 th {
    color: #101010;
    font-size: 15px;
    font-weight: 700;
  }
  .table2 th,
  .table2 td {
    vertical-align: middle;
    padding: 12px 15px;
    color: #101010;
    font-size: 15px;
    border-right: 1px solid #f2f1f6;
  }
  .table2 tr th:last-child,
  .table2 tr td:last-child {
    border-right: 0px;
  }
  .table2 thead th {
    border-top: 0px;
    border-bottom: 1px solid #f2f1f6;
  }
  .table2 tbody td {
    border-top: 1px solid #f2f1f6;
    font-size: 14px;
  }
  .table2 .product-thumbnail .image {
    float: left;
    width: 136px;
  }
  .table2 .product-thumbnail .image img {
    max-height: 130px;
    width: 130px;
  }
  .table2 .product-thumbnail .content {
    padding-left: 157px;
  }
  .table2 .product-thumbnail h4 {
    font-size: 15px;
    font-weight: 700;
    color: #4c4c4c;
    margin-bottom: 4px;
  }
  .table2 .product-thumbnail p {
    color: #6c6c6c;
    font-size: 18px;
  }
  .table2 .price-total tr td {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .table2 .price-total tr:last-child td {
    border-top: 0px;
  }
  .table2 .price-total tr td.heading,
  .table2 .price-total tr td.amount {
    border-top: 2px solid #f2f1f6;
    color: #000000;
    font-size: 15px;
    font-weight: 500;
    text-align:center;
  }
  .table2 .price-total tr td.amount span {
    font-weight: 900;
  }
  .table2 .price-total tr td:last-child {
    text-align: right;
  }
  .item-table td {
    color: #6c6c6c;
  }
  .table2 .qty,
  .table2 .price,
  .table2 .total {
    text-align: center;
  }
  @media (max-width: 991px) {
    .table2 th {
      font-size: 16px;
    }
    .table2 td {
      font-size: 15px;
    }
  }
  
  @media (max-width: 767px) {
    .table2 thead {
      display: none;
    }
    .table2 tr {
      display: block;
      width: 100%;
    }
    .table2 td {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }
    .table2 td:before {
      font-size: 16px;
      content: attr(data-title) ": ";
      text-transform: uppercase;
      font-weight: 700;
      color: #101010;
      margin-right: 10px;
      position: absolute;
      left: 15px;
      top: 12px;
    }
    .table2 td.btn-wrapper:before {
      display: none;
    }
    .table2 td.btn-wrapper {
      padding: 0px;
      max-width: 100%;
      min-width: 100%;
    }
    .table2 td.btn-wrapper .btn {
      color: #fff !important;
      padding: 10px 12px;
      width: 100%;
      background: #f16521;
    }
    .table2 td.btn-wrapper .btn:hover {
      background: #689765;
    }
  }
  
  @media (min-width: 768px) {
    .table2 .order-no {
      min-width: 119px;
    }
    .table2 .order-date {
      min-width: 131px;
    }
    .table2 .flight-no {
      min-width: 113px;
    }
    .table2 .time {
      min-width: 190px;
    }
    .table2 .gate {
      min-width: 99px;
    }
    .table2 .status {
      min-width: 181px;
    }
    .table2 .btn-wrapper {
      min-width: 86px;
      max-width: 86px;
    }
    .all-orders .table2 .btn-wrapper {
      min-width: 80px;
      max-width: 80px;
    }
    .all-orders .tracking:first-of-type .btn-wrapper {
      min-width: 86px;
      max-width: 86px;
    }
    .table2 .product-thumbnail {
      min-width: 333px;
    }
    .table2 .price,
    .table2 .qty,
    .table2 .total {
      min-width: 85px;
    }
  }
  
  /*
   *progressbar
   */
  .tracking {
    position: relative;
    overflow: hidden;
    background: #fff;
    margin-bottom: 40px;
    border: 1px solid #f2f1f6;
  }
  .tracking .table2 {
    border: 0px;
    margin-bottom: 0px;
  }
  .tracking .progressbar {
    width: 100%;
    border-right: 1px solid #f2f1f6;
    margin-bottom: 0px;
  }
  .tracking .progressbar:after {
    content: "";
    position: absolute;
    background: #fff;
    width: 100%;
    height: 100%;
    top: 0px;
    right: -100%;
  }
  .all-orders .tracking {
    margin-bottom: 16px;
  }
  .all-orders .tracking thead {
    display: none;
  }
  .all-orders .tracking:first-of-type thead {
    display: table-header-group;
  }
  
  /*
   *progressbar
   */
  .progressbar {
    padding: 0px;
    list-style-type: none;
    margin-left: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
  }
  .progressbar li {
    width: 33.33333%;
    text-align: center;
    font-size: 13px;
    padding: 4px 13px;
    color: #fff;
    background: #404040;
    min-height: 23px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .progressbar li:after {
    content: "";
    width: 23px;
    height: 100%;
    background: inherit;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    position: absolute;
    right: -13px;
    top: 0px;
    z-index: 1;
    -webkit-transform: rotate(45deg) skew(18deg, 18deg);
    -ms-transform: rotate(45deg) skew(18deg, 18deg);
    transform: rotate(45deg) skew(18deg, 18deg);
  }
  .progressbar li.active {
    background: #0e76bc;
  }
  
  @media (max-width: 767px) {
    .progressbar li {
      font-size: 14px;
      min-height: 32px;
    }
    .progressbar li span {
      display: block;
    }
    .progressbar li:after {
      width: 29px;
      top: 2px;
    }
  }
  
  #login-form {
    margin-bottom: -12px;
  }
  body:not(.menu-page) #container {
    overflow: visible;
  }
  .filter-section + .section .widgets {
    height: 100%;
  }
  .filter-section + .section .widgets .widget {
    position: sticky;
    top: 0;
  }
  #content .dashboard .form li {
    position: relative;
    padding-left: 120px;
    margin-bottom: 30px;
    padding-right: 70px;
  }
  #content .dashboard .form ul {
    margin: 0 -60px 0 0;
    width: calc(100% + 60px);
  }
  #content .dashboard .form label {
    /* position: absolute; top: 19px; left:5px; */
    font-size: 16px;
  }
  #content .dashboard .form li .button1 {
    float: right;
    width: 200px;
  }
  
  @media screen and (max-width: 1400px) {
    .table2 thead th {
      font-size: 16px;
    }
    .table2 tbody td {
      font-size: 16px;
    }
    .table2 .time {
      min-width: 140px;
    }
    .table2 .status {
      min-width: 140px;
    }
    .all-orders .tracking:first-of-type .status {
      min-width: 160px;
    }
    .all-orders .table2 .btn-wrapper {
      min-width: 82px;
      max-width: 82px;
    }
    .table2 .gate {
      min-width: 80px;
    }
  }
  
  @media screen and (max-width: 1200px) {
    .table2 .btn-wrapper {
      min-width: 75px;
      max-width: 75px;
    }
    .dashboard #main {
      height: inherit;
      margin-left: 0;
      padding: 42px 20px;
    }
    #content .dashboard,
    #content .dashboard .column {
      margin-bottom: 0;
    }
    .all-orders .tracking:first-of-type .btn-wrapper {
      min-width: 74px;
      max-width: 74px;
    }
    .all-orders .table2 .btn-wrapper {
      min-width: 71px;
      max-width: 71px;
    }
  }
  
  @media screen and (max-width: 992px) {
    #content .dashboard .form li.half {
      float: none;
      width: 100%;
    }
  }
  
  @media screen and (max-width: 767px) {
    .dashboard #main {
      padding: 15px 20px;
      margin: 0 -20px;
    }
    .dashboard #main header .btn {
      margin-bottom: 15px;
    }
    .dashboard #main header .link1 {
      padding: 0;
    }
    .table2 tbody td {
      display: block;
      position: relative;
      text-align: right;
    }
    .table2 .product-thumbnail .image {
      width: 90px;
    }
    .table2 .product-thumbnail .content {
      padding-left: 100px;
    }
    .table2 .product-thumbnail h4 {
      font-size: 18px;
    }
    .table2 .qty,
    .table2 .price,
    .table2 .total {
      text-align: right;
    }
    .table2 .product-thumbnail {
      padding-top: 45px;
      text-align: left;
    }
    .table2 .blank {
      display: none !important;
    }
    .table2 tfoot {
      display: block;
      overflow: hidden;
      width: 100%;
    }
    .table2 .price-total td {
      float: left;
      width: 50%;
      display: block;
    }
    .table2 .price-total strong {
      display: block;
      width: 100%;
      text-align: right;
    }
    .table2 .price-total td {
      text-transform: uppercase;
    }
    .table2 .price-total td:before,
    .all-orders .tracking:first-of-type thead {
      display: none;
    }
    #content .dashboard,
    #content .dashboard .column {
      padding-bottom: 0;
      margin-bottom: 0;
    }
    .all-orders .tracking .btn-wrapper {
      max-width: 100% !important;
      min-width: 100% !important;
    }
    .all-orders .tracking {
      margin-bottom: 30px;
    }
    #content .dashboard .form label {
      position: relative;
      display: block;
      top: 1px;
      left: 0;
    }
    #content .dashboard .form li {
      padding-left: 0;
      padding-right: 0;
    }
    #content .dashboard .form ul {
      margin: 0;
      width: 100%;
    }
    #content .dashboard .form li .textbox.small {
      max-width: 90px;
      margin-bottom: 0;
    }
    #content .dashboard .form li .button1 {
      width: 100%;
    }
  }
  /*
   *introduction
   */
  .introduction {
    padding: 0 150px;
    margin-bottom: 100px;
    text-align: center;
  }
  .introduction header {
    margin-bottom: 100px;
  }
  .introduction header h2 {
    font-size: 25px;
    color: #404040;
    font-weight:600;
    margin-bottom:30px;
  }
  .introduction .row { position:relative; }
  .introduction .row:before { position:absolute; content:''; background:url(images/about-page-waves.png) no-repeat; bottom:0; right:-430px; width:470px; height:424px;  } 
  .introduction p { font-size:17px; line-height: 1.8; }
  .introduction .row {
    margin-bottom: 100px;
  }
  .introduction .row img {
    width: 100%;
  }
  .introduction .row .col-sm-5 {
    padding-top: 120px;
  }
  .introduction + .bg-gray-light {
    position: relative;
    padding: 100px 150px 50px;
    text-align: center;
    background: url(images/about-bg-img.png) no-repeat bottom left !important;
  }
  .introduction + .bg-gray-light::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 300%;
    left: -100%;
    height: 100%;
    background: #f1f5ce;
    content: "";
    z-index: -1;
  }
  .introduction + .bg-gray-light h2 {
      font-size: 25px;
      color: #404040;
      font-weight: 600;
  }
  .introduction + .bg-gray-light p { font-size:17px; line-height: 1.8; }
  .introduction + .bg-gray-light .row {
    padding: 50px 0;
  }
  .introduction + .bg-gray-light .text {
    background: #ffffff;
    padding: 25px 25px 0;
    margin: 0 20px;
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.15);
    min-height: 450px;
  }
  .introduction + .bg-gray-light .text h3 {
    min-height: 80px;
      font-size: 20px;
      color: #f16521;
      margin-top: 35px;
      font-weight: 600;
      margin-bottom: 0;
  }
  .introduction + .bg-gray-light .text p { font-size:15px; color: #404040; }
  .testimonials {
    padding: 100px 150px;
  }
  .testimonials h2 {
    font-size: 25px;
      color: #4c4c4c;
      text-align: center;
      margin-bottom: 50px;
      font-weight: 600;
  }
  .testimonials figure {
    margin-bottom: 50px;
    position:relative;
  }
  .testimonials figure:before { position:absolute; content:''; background:url(images/about-wave-bg2.png) no-repeat; bottom:0; left:-420px; width:684px; height:687px; z-index: -1; } 
  .testimonials + .post {
    padding: 20px 150px 100px;
    position: relative;
  }
  .testimonials + .post .text {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 560px;
    background: #fff;
    padding: 50px;
  }
  .testimonials + .post .text h2 {
      font-size: 25px;
      color: #404040;
      line-height: 1.5;
      font-weight: 600;
  }
  .testimonials + .post .text p { font-size:15px; line-height: 1.5; color: #404040; }
  .testimonials .slideshow2 {
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.15);
    padding: 50px 0px;
  }
  .slideshow2 h3 { font-size:25px; font-weight:600; color:#404040; }
  .slideshow2 p { font-size:17px; color:#404040; }
  
  .testimonials .slides2 {
    height: inherit;
    min-height:160px;
    margin: 0 100px;
    width: calc(100% - 200px);
  }
  .testimonials .controls2 {
     position: absolute;
      bottom: 0;
      text-align: center;
      width: 100%;
  }
  .testimonials .slideshow2 .slide p:last-child {
    margin-bottom: 0;
  }
  
  @media screen and (max-width: 1400px) {
    .introduction + .bg-gray-light .text {
      margin: 0;
    }
    .introduction,
    .introduction + .bg-gray-light,
    .testimonials,
    .testimonials + .post {
      padding-left: 100px;
      padding-right: 100px;
    }
  }
  
  @media screen and (max-width: 1200px) {
    .introduction,
    .introduction + .bg-gray-light,
    .testimonials,
    .testimonials + .post {
      padding: 50px;
      margin-bottom: 50px;
    }
    .introduction h2,
    .introduction + .bg-gray-light h2,
    .testimonials h2,
    .testimonials + .post h2 {
      font-size: 30px !important;
    }
  }
  
  @media screen and (max-width: 992px) {
    .introduction,
    .introduction + .bg-gray-light,
    .testimonials,
    .testimonials + .post {
      padding: 30px 0;
      margin-bottom: 50px;
    }
    .introduction + .bg-gray-light .text {
      padding: 20px 10px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .introduction .row .col-sm-5 {
      padding-top: 40px;
    }
    .introduction header,
    .introduction .row {
      margin-bottom: 50px;
    }
    .introduction {
      margin-bottom: 0;
    }
    .introduction + .bg-gray-light .text {
      margin-bottom: 30px;
    }
    .introduction + .bg-gray-light .text h3 {
      min-height: inherit;
    }
    .testimonials {
      padding-bottom: 0;
    }
    .testimonials .slides2 {
      margin: 0 15px;
    }
    .testimonials .slides2 {
      width: calc(100% - 30px);
    }
    .testimonials .controls2 {
      top: 10px;
      position: relative;
    }
    .testimonials .slideshow2 .slide-controls .prev {
      left: -20px;
    }
    .testimonials .slideshow2 .slide-controls .next {
      right: -20px;
    }
    .testimonials + .post .text {
      position: relative;
      top: 0;
      transform: none;
      width: 100%;
      padding: 20px 0 0;
    }
    .introduction h2,
    .introduction + .bg-gray-light h2,
    .testimonials h2,
    .testimonials + .post h2 {
      font-size: 24px !important;
    }
    .tab-content > .tab-pane {
      margin-bottom: 0;
    }
    .menu-page .tab-pane + .col-lg-4.column {
      display: none;
    }
    .menu-page #content .column .menu-list li:last-child {
      margin-bottom: 0;
    }
    .filter-list {
      margin-left: -10px;
      margin-right: -10px;
      width: calc(100% + 20px);
    }
    .filter-list li {
      margin-bottom: 20px;
      padding: 0px 10px;
    }
    .filter-list li a {
      font-size: 16px;
      padding: 5px;
      text-align: left;
      white-space: nowrap;
    }
    .login-signup .fa-unlock + a {
      display: inline-block;
      white-space: nowrap;
      vertical-align: top;
    } /* width: 45px; overflow: hidden; text-overflow: ellipsis; */
    .payment-information {
      padding: 0;
    }
    .payment-information iframe {
      min-height: 575px;
    }
  }
  
  .order-popup .order {
    right: auto;
    transform: translate(-50%, -50%);
    left: 50%;
  }
  .order-popup #content {
    position: relative;
    z-index: -1;
  }
  .order-popup #banner {
    position: relative;
    z-index: -1;
  }
  
  .col-lg-8 .food .info {
    position: relative;
  }
  .col-lg-8 .food .quantity {
    margin-left: 30px;
    margin-right: 0;
  }
  .col-lg-8 .food .quantity + .price {
    position: absolute;
    width: 50%;
    top: 0;
    right: 0;
    color: #f16521;
    font-weight: bold;
  }
  .col-lg-8 .food .quantity + .price span {
    margin-right: 5px;
    color: #000;
    font-size: 18px;
    font-weight: normal;
  }
  @media screen and (max-width: 1200px) {
    .col-lg-8 .food .quantity {
      margin-left: 0px;
    }
    .col-lg-8 .food .quantity + .price {
      font-size: 16px;
    }
    .col-lg-8 .food .quantity + .price span {
      font-size: 16px;
      padding-top: 5px;
    }
  }
  @media screen and (max-width: 992px) {
    .col-lg-8 .food .quantity + .price {
      font-size: 21px;
    }
    .col-lg-8 .food .quantity + .price span {
      font-size: 18px;
    }
    .col-lg-8 .food .quantity {
      margin-bottom: 15px;
    }
    .col-lg-8 .food .quantity {
      margin-left: 50px;
    }
  }
  @media screen and (max-width: 767px) {
    .menu-page .display-1 {
      font-size: 30px;
    }
    .menu-page #banner .description p {
      font-size: 28px;
    }
    .menu-page #banner .figure1 img {
      min-height: 260px;
    }
  }
  body.video-playing {
    overflow: hidden;
  }
  .iti__flag-container {
    width: 100%;
  }
  .iti__country-list li {
    padding: 5px 10px !important;
    margin-bottom: 0 !important;
    font-size: 16px !important;
  }
  .checkout .iti__divider {
    padding: 0 !important;
  }
  .iti__country-list {
    border: 0 !important;
    margin: 0 -1px !important;
    width: calc(100% + 2px) !important;
    max-height: 135px !important;
  }
  #register-form li:nth-child(4) {
    overflow: visible;
  }
  .iti__country-list {
    overflow-y: scroll !important;
  }
  .menu-page #banner .description {
    margin-top: 25px;
  }
  .menu-page .section {
    padding: 35px 0px 1px;
  }
  .modal-backdrop.show {
    opacity: 0.8;
  }
  @media screen and (min-width: 768px) {
    #banner .description p {
      white-space: nowrap;
    }
  }
  .breadcrumb {
    display: none !important;
  }
  
  .detail-product {
    -webkit-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.21);
    -moz-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.21);
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.21);
    padding: 22px 25px 10px;
    margin-top: 25px;
  }
  .detail-product ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .detail-product li {
    margin-bottom: 10px;
    line-height: 1.2;
    position: relative;
    padding-left: 15px;
    font-size: 18px;
  }
  .detail-product li::before {
    content: "â€¢ ";
    color: #f16521;
    font-size: 25px;
    position: absolute;
    left: 0;
    top: 0;
    line-height: 18px;
  }
  .slideshow2 .slide-controls {
    display: none;
  }
  
  @media screen and (max-width: 768px) {
    .sep-span {
      display: none !important;
    }
  }
  
  @media screen and (max-width: 768px) {
    li.login-signup {
      font-size: 17px !important;
      font-weight: 700 !important;
      text-transform: uppercase !important;
    }
  }
  .user-block {
    display: none;
  }
  #main-navigation ul {
    display: block;
  }
  #main-navigation ul.user-block li {
    display: inline-block !important;
  }
  @media screen and (max-width: 767px) {
    .user-block li.login-signup {
      font-size: 13px !important;
    }
    #main-navigation .user-block {
      text-align: center;
      position: relative;
      top: 0;
      right: 0;
    }
    .user-block li {
      display: inline-block;
      vertical-align: middle;
      margin-right: 5px;
    }
    #main-navigation .user-block .login-signup,
    #main-navigation .user-block .cart {
      position: relative;
      top: 0;
      right: 0;
    }
    .user-block {
      position: fixed;
      list-style: none;
      margin: 0;
      padding: 0;
      display: block;
      top: 15px;
      right: 40px;
    }
  }
  
  .login-signup a {
    cursor: pointer;
  }
  .form .textbox.select-2 {
    height: 150px;
  }
  #content .dashboard .form li {
    display: inline-block;
    float: none;
    margin: 0 -2px 35px;
    vertical-align: top;
    padding-left: 5px;
  }
  #content .revieworder .form li {
    display: inline-block;
    float: none;
    margin: 30px -97px 35px !important;
    vertical-align: top;
  }
  .iti__selected-flag {
    height: 100%;
  }
  .iti__country-list li {
    display: block !important;
  }
  .iti__country-list li.iti__divider {
    padding: 0 !important;
    margin: 0 !important;
  }
  .login-signup a {
    cursor: pointer;
  }
  .menu-page .menu-list {
    clear: both;
  }
  body.home.menu-page #banner .figure1 img {
    max-height: 500px;
    min-height: auto;
  }
  
  #faq { padding-bottom:50px; }
  #faq h2 { color:#dc5d20; font-size:45px; font-weight: bold; }
  #faq h3 { color:#101010; font-size:24px; }
  #faq h4 { color: #dc5d20; font-size: 21px; text-transform: uppercase; cursor: pointer; border-top: 1px solid #dc5d20; padding-top: 15px; border-bottom: 1px solid #dc5d20; margin-bottom: -1px; padding-bottom: 15px; position:relative; }
  #faq h4:after { content: "\f107"; font-family:"FontAwesome"; position:absolute; top:10px; right:20px; color:#dc5d20; font-size:24px; transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s; transform:rotate(0deg);}
  #faq h4.open { border-bottom:1px solid #fff; }
  #faq h4.open:after{ transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s; transform:rotate(-180deg); }
  #faq .content { display:none; padding-bottom: 1px; }
  #faq .content li { margin-bottom:10px; font-size: 17px; line-height:1.5; }
  #faq hr { opacity:0; }
  #faq ul ul ,  #faq ol ol { padding-top:10px; }
  #login_validation_messages_top_menu , #validation_messages_top_menu { color: red; font-size: 14px; margin-left: 20px; text-shadow: 0 0 1px #000; }
  .widget.flight-block .header .toggle-btn { border: 0 !important; box-shadow: none !important; }
  .table-responsive { overflow:hidden; }
  .multi-select-button { font-size:17px !important; }
  .order-placed-message { font-size:15px; background: #f16521; color: #fff; padding: 12px; }
  
#flight_popup .form { position:relative; }
#flight_data  { font-size: 16px; border-radius: 7px; color: #f16521 !important; padding: 10px; position: relative; top: -20px; width: 100%; background: #fff; line-height: 30px; display: block !important; z-index:100; }
.multi-select-button:after { border-width: 5px !important; margin-top: 9px !important; }

.dish p , #faq p { font-size:17px; }
.modal .form li .dropdown_custom:after { top: 22px; }
.modal .form li .dropdown_custom { display: block; width: 100%; }
.introduction + .bg-gray-light p b { font-size:30px; }
#forgot_success_message_top_menu { font-size:16px; font-weight:normal; }


.menu-page .col-lg-8 .text-right .clear-filter-btn { color:#dc5d20; position: absolute; top: 15px; right: -30px; font-size: 8px; cursor:pointer; }
.menu-page .col-lg-8 .text-right .clear-filter-btn i:before { content: "\f021";  }