@media (min-width: 992px) {
  /* .container { max-width: 1690px; } */
}

body {
  font-family: "Montserrat", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cocogoose", sans-serif;
  font-weight: 300;
}
h1,
h2 {
  font-size: 45px;
}
h1 span,
h2 span {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
.display-2 {
  font-size: 60px;
  font-weight: 300;
  margin-bottom: 16px;
  color: #404040;
}
.meals .display-2 { font-size: 42px; }
@media (max-width: 991px) {
  h1,
  h2 {
    font-size: 40px;
  }
  .display-2 {
    font-size: 50px;
  }
}

@media (max-width: 767px) {
  h1,
  h2 {
    font-size: 30px;
  }
  .display-2 {
    font-size: 35px;
  }
}

.text-primary {
  color: #f16521 !important;
}
.btn {
  font-size: 17px;
  font-weight: 300;
}
.button1 {
  background: #0e76bc;
  border-color: #0e76bc;
}
.button1:hover {
  background: #0e76bc;
  border-color: #0e76bc;
}
.btn-outline-secondary {
  color: #404040;
  border-color: #404040;
}
.btn-outline-secondary:hover {
  color: #fff;
  background-color: #0e76bd;
  border-color: #0e76bd;
}
.link {
  font-size: 16px;
  color: #404040;
  font-weight: 600;
}
.link .fa-long-arrow-right {
  margin-left: 2px;
}
.scroll-to-top {
  z-index: 102;
}

@media (min-width: 1700px) {
  .scroll-to-top {
    margin-right: -837px;
  }
}

@media (max-width: 1699px) {
  .scroll-to-top {
    right: 15px;
    margin-right: 0px;
    bottom: 20px;
  }
}

@media (max-width: 767px) {
  .scroll-to-top {
    bottom: 15px;
  }
}

.inline-list {
  padding: 0px;
  list-style-type: none;
}
.inline-list li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 13px;
}
.inline-list li:last-child {
  margin-right: 0px;
}

@media (max-width: 767px) {
  .inline-list li.mobile-block {
    margin-right: 0px;
    display: block;
  }
  .inline-list li.mobile-block h6 {
    margin-bottom: 18px;
  }
}

.sociables li {
  margin-right: 20px;
}
.sociables li a:hover {
  color: #f16521;
}
.scroll-to-top {
  color: #f16521;
}
.scroll-to-top:hover {
  color: #fbe805;
}

@media (min-width: 1450px) {
  .scroll-to-top {
    bottom: 22px;
  }
}

/*
 *box2
 */

.box2 {
  height: 100%;
}
.box2 a {
  display: block;
  height: 100%;
  position: relative;
}
.box2 a .figure1 {
  height: 100%;
}
.box2 a .figure1 img {
  height: 100%;
}
.box2 a span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
  z-index: 2;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  opacity: 0;
  visibility: hidden;
}
.box2 a:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(21, 6, 11, 0.45);
  opacity: 0;
  visibility: hidden;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
}
.box2 a:hover:after {
  opacity: 1;
  visibility: visible;
}
.box2 a:hover span {
  opacity: 1;
  visibility: visible;
}
.box2.one-half {
  height: calc(50% - 15px);
}
.box2.one-half + .box2.one-half {
  margin-top: 30px;
}

@media (max-width: 767px) {
  .box2 a .figure1 img {
    height: 300px;
  }
}

/*
 *slideshow3
 */

.slideshow3 {
  position: relative;
}
.slideshow3 .slides {
  position: relative;
  width: 100%;
}
.slideshow3 .slides figure img {
  min-height: 560px;
}
.slideshow3 .slides .slide {
  width: 100%;
  height: 100%;
  display: block !important;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background: transparent !important;
}
.slideshow3 .slides .slide:first-child {
  opacity: 1;
}
.slideshow3 .pager {
  text-align: right;
  position: absolute;
  bottom: 50px;
  left: 0px;
  width: 100%;
  z-index: 101;
}
.slideshow3 .pager a {
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #fbe805;
  margin-right: 14px !important;
  font-size: 0px;
}
.slideshow3 .pager a:hover,
.slideshow3 .pager a.activeSlide {
  background: #fff;
}
.slideshow3 .pager a:last-child {
  margin-right: 0px !important;
}

@media (max-width: 767px) {
  .slideshow3 .slides figure img {
    min-height: 360px;
  }
}

/*
 *food
 */
.food.alt {
  border-radius: 3px;
  overflow: hidden;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.18);
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.18);
  background: #fff;
}
.food h2 {
  color: #404040;
}
.food .info {
  padding: 5px 10px 50px;
  max-width: 327px;
  margin: 0px auto;
  width: 100%;
}
.food .info .price {
  font-size: 20px;
  color: #3c3c3c;
  font-weight: 500;
}
.food .info .price small {
  font-size: 15px;
  font-weight: 300;
}
.food .info footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 25px;
}

/*
 *menu list
 */
@media (min-width: 768px) and (max-width: 991px) {
  .menu-list > li {
    width: 50%;
  }
}

/*
 *instagram block
 */

.instagram-block .container {
  position: relative;
  z-index: 1;
  padding: 10px 0px 265px;
}
.instagram-block h2 { font-size:30px; }
.instagram-block .container:before,
.instagram-block .container:after {
  content: "";
  position: absolute;
  background: url("images/instagram-before.png") no-repeat;
  width: 476px;
  height: 422px;
  z-index: -1;
}
.instagram-block .container:before {
  left: -312px;
  bottom: -51px;
  z-index: -1;
  -webkit-transform: rotate(171deg);
  -ms-transform: rotate(171deg);
  transform: rotate(171deg);
}
.instagram-block .container:after {
  width: 277px;
  height: 250px;
  background: url("images/instagram-after.png") no-repeat;
  right: -300px;
  top: 178px;
  opacity: 0.4;
}

/*
 *order
 */
.order.alt {
  position: static;
  height: auto;
  transform: none;
  width: auto;
  padding: 25px 30px 5px;
  -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.39);
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.39);
}
.order .d-flex {
  -ms-flex-direction: unset;
  flex-direction: unset;
}
.order .d-flex .full-box {
  flex: 1;
  padding-left: 26px;
}
.order h3 {
  color: #404040;
  font-family: "Montserrat", sans-serif;
}
.order input {
  text-align: left;
  padding-left: 45px !important;
  color: #404040;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
  background: #f3f3f3 !important;
  border-color: #f3f3f3;
  padding-right: 10px;
  height: 42px !important;
}
.order span.submit input {
  background: #404040 !important;
  text-align: center;
  height: 42px;
  padding: 0px !important;
}

span.addonsubmit input {
  background: #404040 !important;
  text-align: center;
  height: 42px;
  padding: 0px;
}
.order span.submit input:hover {
  background: #4c4b4b !important;
}

span.addonsubmit input:hover {
  background: #4c4b4b !important;
}

.order .flight:before,
.order .date:before {
  color: #f16521;
}

@media (max-width: 991px) {
  .order .d-flex {
    display: block !important;
  }
  .order .d-flex .full-box {
    padding-left: 0px;
  }
}

/*
 *meals
 */

.meals {
  position: relative;
}
.meals .description {
  position: absolute;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/*
 *header
 */
#header {
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
}
#header .logo:after {
  background: #dc5d20;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
}

#header .open-menu-btn,
#main-navigation .close-menu-btn {
  color: #dc5d20;
}
.order {
  display: none;
  right: -100%;
}
#banner .order {
  display: block;
  right: 0;
}
.home:not(.menu-page) #header {
  background: transparent;
  box-shadow: none;
}
.home:not(.menu-page) #header .logo:after {
  background: transparent;
}
.scroll #header {
  background: #fff !important;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.45);
}
.scroll #header .logo:after {
  background: #dc5d20 !important;
}
.scroll #header {
  position: fixed;
}
.scroll #header .open-menu-btn {
  color: #dc5d20;
}
.home:not(.menu-page) #header .open-menu-btn {
  color: #fff;
}
.home:not(.menu-page).scroll #header .open-menu-btn {
  color: #dc5d20;
}
.home:not(.menu-page) #header li.login-signup {
  color: #fff;
}
.home:not(.menu-page) li.login-signup .fa {
  color: #fff;
}
.home.scroll li.login-signup .fa {
  color: #dc5d20;
}
.home.scroll .user-block .cart .total {
  background: #dc5d20;
  color: #fff;
}
.home.scroll #header li.login-signup {
  color: #6c6c6c;
}
.home:not(.menu-page) .user-block .cart .fa {
  color: #fff;
}
.home.scroll .user-block .cart .fa {
  color: #dc5d20;
}
.home:not(.menu-page) .user-block .cart .total {
  background: #fff;
  color: #dc5d20;
}
.home.scroll .user-block .cart .total {
  background: #dc5d20;
  color: #fff;
}

@media (max-width: 768px) {
  .hom:not(.menu-page)e #main-navigation li.login-signup .fa {
    color: #dc5d20;
  }
  #main-navigation .user-block .login-signup i {
    font-size: 29px;
  }
  .home:not(.menu-page) #header #main-navigation li.login-signup {
    color: #6c6c6c;
  }
  .home:not(.menu-page) #main-navigation .user-block .cart .fa {
    color: #dc5d20;
  }
  .home:not(.menu-page) #main-navigation .user-block .cart .total {
    background: #dc5d20;
    color: #fff;
  }
  .home:not(.menu-page) #main-navigation .user-block .cart .total {
    background: #dc5d20;
    color: #fff;
  }
}

@media (min-width: 768px) {
  .home:not(.menu-page) #main-navigation .menu > li {
    color: #fff;
  }
  .home:not(.menu-page) #main-navigation .menu > li > a:after {
    background: #fff;
  }
  .home:not(.menu-page) #main-navigation .menu li a:hover {
    color: #fff;
  }
  .home.scroll #main-navigation .menu > li {
    color: #6c6c6c;
  }
  .home.scroll #main-navigation .menu > li > a:after {
    background: #858585;
  }
  .home.scroll #main-navigation .menu li a:hover {
    color: #6c6c6c;
  }
  .home.scroll #header li.login-signup {
    color: #6c6c6c;
  }
}

/*
 *main navigation
 */
#main-navigation .menu > li {
  font-weight: 600;
  text-transform: none;
  color: #6c6c6c;
}
#main-navigation .menu > li > a {
  position: relative;
}
#main-navigation .menu > li > a:after {
  position: absolute;
  height: 1px;
  top: 50%;
  content: "";
  width: 100%;
  left: 0px;
  background: #858585;
  opacity: 0;
}
li.login-signup .fa {
  color: #dc5d20;
}
.user-block .cart .fa {
  color: #dc5d20;
}
.user-block .cart .total {
  background: #dc5d20;
}
#main-navigation .menu .current {
  font-weight: 300;
  color: #858585;
}
#main-navigation .menu li a:hover {
  color: #858585;
}
#main-navigation .menu > li > a:hover:after {
  opacity: 1;
}
#main-navigation .menu .current > a:after {
  opacity: 1;
}

@media (max-width: 767px) {
  #main-navigation {
    padding: 96px 20px;
  }
  #main-navigation .menu li a {
    padding: 13px 0px;
    display: inline-block;
  }
  .user-block {
    position: absolute;
    top: -45px;
  }
}
/*
 *banner
 */
.home #banner .figure1 img,
.home #banner .slides {
  min-height: 716px;
}
#banner .wrapper {
  max-width: 800px;
  max-width: 100%;
}

@media (max-width: 767px) {
  .home #banner .figure1 img,
  .home #banner .slides,
  body.home.menu-page #banner .figure1 img {
    min-height: 350px;
  }
}

/*
 *footer
 */

#footer {
  background: #dc5d20;
  padding: 0px;
  overflow: hidden;
}
#footer .logo img {
  max-height: 76px;
}
#footer .top-footer {
  position: relative;
  padding: 48px 0px 14px;
}
#footer .mail,
#footer .phone {
  font-size: 16px;
  font-weight: 300;
  color: #fff;
}
#footer .top-footer address p {
  font-size: 16px;
  font-weight: 300;
  color: #fff;
}
#footer .footer-links li {
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  margin-bottom: 10px;
}
#footer .footer-links li a {
  border-bottom: 1px solid #fff;
}
#footer .footer-links li a:hover {
  color: #fbe805;
  border-color: #fbe805;
}
#footer .top-footer:before {
  content: "";
  position: absolute;
  width: 1348px;
  height: 647px;
  background: url("images/footer-bg.png") no-repeat;
  left: 50%;
  margin-left: -408px;
  bottom: 0px;
  opacity: 0.1;
}
footer h6 {
  color: #fbe805;
  font-size: 17px;
  margin-bottom: 10px;
}
#footer .inline-list h6 {
  color: #fff;
}
#footer .bottom-footer {
  background: #fff;
  padding: 20px 0px 4px;
}
#footer .bottom-footer p {
  font-size: 12px;
  font-weight: 400;
  color: #404040;
}
#footer .bottom-footer p a {
  color: inherit;
  text-decoration: underline;
}
#footer .bottom-footer p a:hover {
  color: #f16521;
}
#footer .bottom-footer p.copyright {
  font-weight: 300;
  padding-right: 15px;
}

@media (max-width: 991px) {
  #footer {
    text-align: center;
  }
}

#checkout_image,
.checkout {
  background: #fa8131 url(../../images/login-register-bg.png) no-repeat top
    right !important;
}
.checkout .form li a {
  font-size: 12px !important;
}
.dashboard h3 {
  color: #4c4c4c;
  font-size: 20px;
  font-weight: 800;
}
.dashboard .container {
  background: #f1f5ce url(../../images/dashboard-bg.jpg) no-repeat center right;
  min-height: 304px;
}
.dashboard .container .col-xl-3 {
  padding: 0;
}
.downloadpdf {
  background: #dc5d20 !important;
  font-size: 13px; 
  padding: 10px;
  height: 40px;
}
#orders .main_items {
  padding: 30px 30px 1px;
}
#side-navigation li {
  width: 100%;
}
.menu-page .tabs1 {
  position: relative;
}
.menu-page .tabs1 .nav-tabs {
  float: left;
}
.menu-page .tabs1 .button2 {
  float: right;
}
.menu-page .tabs1 .button2:focus {
  box-shadow: none !important;
}
.menu-page .tabs1 .filter-list {
  position: absolute;
  top: 41px;
  right: 15px;
  width: 169px;
  border: 1px solid #4c4c4c;
  display: none;
  z-index: 1;
}
.menu-page .tabs1 .filter-list a {
  text-align: left;
  font-size: 15px;
}
.menu-page .tabs1 .filter-list li {
  float: none;
  width: 100%;
  text-align: left;
  margin: 0;
  padding: 0;
}
.menu-page .tabs1 .filter-list li:hover a {
  background: #f16521;
  color: #fff;
}
.flavour-list li a {
  border: 1px solid #3a823e;
  border-radius: 50%;
  display: inline-block;
  line-height: 20px;
}
.menu-page .menu-list {
  clear: both;
}
.menu-page .widgets {
  padding-top: 88px;
}
.menu-page .food .info footer {
  margin-bottom: 5px;
}
.menu-page .col-lg-8 .food .info {
  padding-bottom: 20px;
}
.quantity li button:before,
.quantity li button:after {
  left: 4px !important;
}
.quantity li button {
  background: transparent !important;
  border: 1px solid #2a8fc8 !important;
  border-radius: 0 !important;
  color: #2a8fc8 !important;
}
.quantity {
  margin: 0 auto !important;
  border-radius: 0 !important;
  width: 70px !important;
}
.quantity li button:before,
.quantity li button:after {
  background: #2a8fc8 !important;
}
.quantity li .input-control,
.input-addon {
  color: #2a8fc8 !important;
}
.flight-details li .edit {
  top: -30px;
}
.widget.flight-block .content {
  padding: 40px 10px 10px;
}
.flight-block .quantity {
  margin: 0 !important;
}
.menu-page #content {
  padding-top: 50px;
}
.menu-page .col-lg-8 .button1,
.flight-block footer .button1 {
  background: #0e76bc;
  border-color: #0e76bc;
}
.menu-page .col-lg-8 .button1:hover,
.flight-block footer .button1:hover {
  background: #dc5d20;
  border-color: #dc5d20;
}
.menu-page .tabs1 .nav li {
  font-size: 16px;
}
.menu-page .tabs1 .nav li a {
  padding: 16px 12px 12px;
}
.menu-page .col-lg-8 .text-right {
  padding-top: 10px;
}
.menu-page .col-lg-8 .text-right span {
  font-size: 13px;
  font-weight: 600;
  padding-right: 10px;
}
.menu-page .col-lg-4 h5 {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 15px;
}
.table-responsive .customize {
  position: relative;
}
.table-responsive .customize .button1 {
  position: absolute;
  top: -7px;
  right: 0;
  background: #0e76bc;
  border-color: #0e76bc;
  font-size: 12px;
  min-width: auto;
  padding: 2px 10px;
  border-radius: 10px;
}
.table-responsive .customize .button1:hover {
  background: #dc5d20;
  border-color: #dc5d20;
}
.table-responsive .customize .button1 i {
  margin-right: 5px;
}
.flight-block footer .button1 {
  font-size: 17px;
}
.flavour-list li a img {
  /* width: 35px !important; */
  padding: 5px;
  max-height: 25px;
}
.widget.addons {
  margin-bottom: 30px;
  margin-top: 91px;
}
.widget.addons .header .toggle-btn:before,
.widget.addons .header .toggle-btn:after {
  width: 12px;
  left: 4px;
}
.also-order .flavour-list {
  margin: 0 auto;
}
.also-order h3 {
  font-size: 24px;
  color: #404040;
  font-weight: 800;
}
.addon-list {
  list-style: none;
  margin: -20px 0 0;
  padding: 0 15px;
}
.addon-list li {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid #f0f0f0;
}
.addon-list li span {
  font-size: 17px;
}
.addon-list li span strong {
  display: block;
  padding-top: 5px;
}
.addon-list li span strong span {
  font-size: 12px;
}
.addon-list .quantity {
  position: absolute;
  top: 10px;
  right: 0;
}
.addon-list .quantity li {
  margin: 0;
  padding: 0;
  border: 0;
}
.addon-list + footer {
  padding: 5px 15px;
  font-size: 20px;
  font-weight: bold;
}
.addon-list + footer .price {
  float: right;
}
.addon-list + footer .price span {
  font-size: 15px;
  font-weight: normal;
}
.addon-list + footer a {
  clear: both;
  display: block;
  margin: 20px -15px 0;
}
#addon .btn-secondary {
  width: 50px;
  display: block;
  position: absolute;
  right: 50px;
  top: 40px;
  background: transparent;
  border: 0;
}
#addon .btn-secondary i {
  color: #3b3b3b;
}
#addon .modal-dialog {
  max-width: 840px;
}
#addon .modal-content {
  padding: 50px;
}
#addon h3 {
  color: #f16521;
  font-weight: bold;
  margin-bottom: 40px;
}
#addon h4 {
  color: #f16521;
  font-size: 24px;
  font-weight: 300;
}
#addon .row {
  margin-bottom: 40px;
}
#addon .row p {
  font-size: 18px;
}
@media (max-width: 767px) {
  .menu-page #content {
    padding-top: 0px;
  }
  .menu-page .tabs1 .nav-tabs {
    margin-bottom: 20px;
  }
  #addon .modal-content {
    padding: 35px 20px;
  }
  #addon .row img {
    margin-bottom: 30px;
  }
  #addon .btn-secondary {
    right: 2px;
    top: 10px;
  }
  #addon h3 {
    margin-bottom: 20px;
  }
  .widget.addons { margin-top: 30px; }
  #flight_popup .form { position:relative; }
  #flight_data  { font-size: 16px; border-radius: 7px; color: #f16521 !important; padding: 10px; position: relative; top: -20px; width: 100%; background: #fff; line-height: 30px;     display: block !important;
   z-index:100; }
   .dish .flavour-list { margin-top: 20px; margin-bottom: 0px; }
}

#telr-div { background:transparent !important; }
::-webkit-input-placeholder { /* Edge */
  opacity:1; font-family: "Montserrat", sans-serif;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  opacity:1; font-family: "Montserrat", sans-serif;
}

::placeholder {
  opacity:1; font-family: "Montserrat", sans-serif;
}

#flight_data_new { font-size: 16px; border-radius: 7px; color: #f16521; padding: 10px; position: absolute; top: 43px; box-shadow: rgba(241, 101, 33, .3) 0px 0px 10px 1px; width: calc(100% - 30px); background: #fff; line-height: 30px;
    border: 1px solid #f16521; display:none; }

.fixed-footer .button1 { background: #f16521; border-color: #f16521; }
.order .close , .order p a { color:#f16521; }
.menu-page #banner .figure1 { position:relative; }
.menu-page #banner .figure1:after { content:''; position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.7); }
.flight-details li p { color: #999; font-size: 13px; }


/* New CSS 6-11-2020 */
.dashboard .container.no-bg { background: none; max-width:1000px; } 
#order-successful h2 { font-size: 33px; color: #f16521; margin-bottom: 10px; } 
#order-successful h3 { font-size: 27px; color: #f16521; margin-bottom: 20px; font-weight: normal; } 
#order-successful header { margin-bottom: 30px; width: 100%; overflow: hidden; } 
#order-successful header p { color:#404040; font-size: 17px; } 
#order-successful header h2 + p { display: inline-block; } 
#order-successful header p.call { float: right; } 
#order-successful .progressbar { overflow: visible; margin-bottom: 70px; background-color: #d9d9d9; position:relative; } 
#order-successful .progressbar:before { background:#0e76bc; content:''; position:absolute; top:0; left:0; height:10px; width:0; }
#order-successful .progressbar.step2:before { width:50%; }
#order-successful .progressbar.step3:before { width:100%; }
#order-successful .progressbar li { position: relative; overflow: visible; background-color: transparent !important; min-height: 9px; } 
#order-successful .progressbar li span { position: absolute; left:0; bottom: 0; font-size: 12px; color: #404040; bottom: -35px; min-width: 100px; } 
#order-successful .progressbar li:after , #order-successful .progressbar li:nth-child(3):after { display:none !important; } 
#order-successful .progressbar li:nth-child(2) span { left: 50%; transform: translateX(-50%); } 
#order-successful .progressbar li:nth-child(2):after { content:''; height: 10px; left:0; width: 50%; background-color: #0e76bb; top: -1px; transform: none; } 
#order-successful .progressbar li.active + li:after { display: block; } 
#order-successful .progressbar li:nth-child(3) span { left: auto; right: 0; } 
#order-successful .progressbar li:nth-child(1):before { background: url("step-pending.jpg") no-repeat top left; content: ''; position: absolute; top: -11px; left: 0; width: 30px; height: 30px; z-index: 100; } 
#order-successful .progressbar li.active:nth-child(1):before { background: url("step-completed.jpg") no-repeat top left; } 
#order-successful .progressbar li:nth-child(2):before { background: url("step-pending.jpg") no-repeat top left; content: ''; position: absolute; top: -11px; left: 50%; width: 30px; height: 30px; margin-left: -15px; z-index: 100; } 
#order-successful .progressbar li:nth-child(3):before { background: url("step-pending.jpg") no-repeat top left; content: ''; position: absolute; top: -11px; left: 100%; width: 30px; height: 30px; margin-left: -25px; z-index: 100; } 
#order-successful .progressbar li.active:nth-child(2):before { background: url("step-completed.jpg") no-repeat top left; } 
#order-successful .progressbar li.active:nth-child(3):before { background: url("step-completed.jpg") no-repeat top left; } 
#order-successful .table2 { margin-bottom: 70px; } 
#order-successful .table2 thead tr { background: #404040; } 
#order-successful .table2 thead th { color: #fff; font-size: 20px; font-weight: 500; } 
#order-successful .table2 tfoot tr { border-top: 1px solid #f2f1f6; } 
#order-successful .table2 tfoot td { font-weight: bold; font-size: 20px; } 
#order-successful .table2 h5 { font-weight: bold; font-size: 17px; margin-bottom: 10px; } 
#order-successful .table2 td { font-size: 17px; vertical-align: top; } 
#order-successful .table2 td p { font-size: 15px; margin-bottom: 10px; } 
#order-successful .table2 td p small { font-size:12px; } 
#order-successful .table2 .product-thumbnail { width: 500px; } 
#order-successful .customer-information { background: #f3f3f3; } 
#order-successful .customer-information li { color: #404040; font-weight: 600; position: relative; padding-left: 160px; font-size: 17px; } 
#order-successful .customer-information li span { color: #404040; font-weight: normal; position: absolute; top: 0; left:0; } 
@media (max-width: 992px){
 #order-successful .table2 .product-thumbnail { width: 440px; } 
 }
 @media (max-width: 767px){
 #order-successful header h2 + p { display: block; } 
 #order-successful header p.call { float: none; } 
 #order-successful .table2 .product-thumbnail { width: 100%; overflow: hidden; height: auto !important; } 
 #order-successful .table2 .price-total td { float: none; width: 100%; } 
 #order-successful .customer-information li { padding-right: 0; font-size: 15px; } 
 }